// http://color-japanese.rubyforge.org/examples/traditional.html
$SakuraIro        : rgb(254, 244, 244);
$Usuzakura        : rgb(253, 239, 242);
$Sakuranezu       : rgb(233, 223, 229);
$Tokinezu         : rgb(228, 210, 216);
$NijiIro          : rgb(246, 191, 188);
$SangoIro         : rgb(245, 177, 170);
$Ikkonzome        : rgb(245, 177, 153);
$ShishiIro        : rgb(239, 171, 147);
$KoubaiIro        : rgb(242, 160, 161);
$Usubeni          : rgb(240, 144, 141);
$Jinzamomi        : rgb(238, 130, 124);
$MomoIro          : rgb(240, 145, 153);
$TokiIro          : rgb(244, 179, 194);
$NadeshikoIro     : rgb(238, 187, 203);
$Haiume           : rgb(232, 211, 199);
$Haizakura        : rgb(232, 211, 209);
$Awabenifuji      : rgb(230, 205, 227);
$SekichikuIro     : rgb(229, 171, 190);
$Usukoubai        : rgb(229, 151, 178);
$MomohanaIro      : rgb(225, 152, 180);
$Mizugaki         : rgb(228, 171, 155);
$Tokigaracha      : rgb(224, 158, 135);
$Arazome          : rgb(214, 144, 144);
$Usugaki          : rgb(212, 172, 173);
$ChoushunIro      : rgb(201, 117, 134);
$Umenezu          : rgb(192, 153, 160);
$Tokiasagi        : rgb(184, 136, 132);
$Umezome          : rgb(180, 138, 118);
$Suoukou          : rgb(168, 105, 101);
$Asasuou          : rgb(162, 87, 104);
$Masoo            : rgb(236, 109, 113);
$Akamurasaki      : rgb(235, 110, 165);
$TsutsujiIro      : rgb(233, 82, 149);
$BotanIro         : rgb(231, 96, 158);
$ImayouIro        : rgb(208, 87, 107);
$Nakabeni         : rgb(200, 81, 121);
$BaraIro          : rgb(233, 84, 107);
$Karakurenai      : rgb(233, 84, 100);
$Ginshu           : rgb(200, 85, 84);
$Akabeni          : rgb(197, 61, 67);
$Benihi           : rgb(232, 57, 41);
$Aka              : rgb(230, 0, 51);
$Shoujouhi        : rgb(226, 4, 27);
$Kurenai          : rgb(215, 0, 58);
$Kokihi           : rgb(201, 23, 30);
$HiIro            : rgb(211, 56, 28);
$Akani            : rgb(206, 82, 66);
$Beniaka          : rgb(217, 51, 63);
$Enji             : rgb(185, 64, 71);
$Ake              : rgb(186, 38, 54);
$AkaneIro         : rgb(183, 40, 46);
$Beniebicha       : rgb(167, 56, 54);
$Suou             : rgb(158, 61, 63);
$Shinku           : rgb(162, 32, 65);
$Koikurenai       : rgb(162, 32, 65);
$ZougeIro         : rgb(248, 244, 230);
$NeriIro          : rgb(237, 228, 205);
$KaihakuShoku     : rgb(233, 228, 212);
$MushiguriIro     : rgb(235, 225, 169);
$Ominaeshi        : rgb(242, 242, 176);
$KarekusaIro      : rgb(228, 220, 138);
$Tankou           : rgb(248, 229, 140);
$Shiracha         : rgb(221, 187, 153);
$Akashirotsurubami: rgb(215, 169, 140);
$Araigaki         : rgb(242, 201, 172);
$TorinokoIro      : rgb(255, 241, 207);
$HachimitsuIro    : rgb(253, 222, 165);
$HadaIro          : rgb(252, 226, 196);
$UsutamagoIro     : rgb(253, 232, 208);
$Yuuou            : rgb(249, 200, 155);
$Sharegaki        : rgb(247, 189, 143);
$Akakou           : rgb(246, 184, 148);
$TonokoIro        : rgb(244, 221, 165);
$NikuIro          : rgb(241, 191, 153);
$HitoIro          : rgb(241, 191, 153);
$ChoujiIro        : rgb(239, 205, 154);
$KouIro           : rgb(239, 205, 154);
$Usukou_A         : rgb(240, 207, 160);
$Usuki            : rgb(237, 211, 161);
$KareIro          : rgb(224, 195, 140);
$Usukou_B         : rgb(243, 191, 136);
$AnzuIro          : rgb(247, 185, 119);
$ShinonomeIro     : rgb(241, 144, 114);
$AkebonoIro       : rgb(241, 144, 114);
$SangoshuIro      : rgb(238, 131, 111);
$Kokikuchinashi   : rgb(235, 155, 111);
$Sohi             : rgb(224, 129, 94);
$Usukihi          : rgb(223, 113, 99);
$Masoho           : rgb(213, 124, 107);
$Araishu          : rgb(208, 130, 108);
$Enshuucha        : rgb(202, 130, 105);
$BenikabaIro      : rgb(187, 85, 72);
$Soho             : rgb(171, 105, 83);
$AzukiIro         : rgb(150, 81, 77);
$Karacha_A        : rgb(141, 100, 73);
$AmeIro           : rgb(222, 176, 104);
$KikuchibaIro     : rgb(211, 162, 67);
$RakudaIro        : rgb(191, 121, 78);
$TsuchiIro        : rgb(188, 118, 60);
$Kigaracha_A      : rgb(185, 140, 70);
$Kuwazome         : rgb(183, 155, 91);
$HajiIro          : rgb(183, 123, 87);
$Kitsurubami      : rgb(182, 141, 76);
$Choujizome       : rgb(173, 125, 76);
$Kouzome          : rgb(173, 125, 76);
$Biwacha          : rgb(174, 124, 79);
$Shikancha        : rgb(173, 126, 78);
$Kogarekou        : rgb(174, 124, 88);
$KurumiIro        : rgb(168, 111, 76);
$ShibukamiIro     : rgb(148, 98, 67);
$KuchibaIro       : rgb(145, 115, 71);
$Kuwacha          : rgb(149, 111, 41);
$Rokoucha         : rgb(140, 112, 66);
$KokubouShoku     : rgb(123, 108, 62);
$KyaraIro         : rgb(216, 163, 115);
$Edocha           : rgb(205, 140, 92);
$KabaIro          : rgb(205, 94, 60);
$Beniukon         : rgb(203, 131, 71);
$KawarakeIro      : rgb(195, 120, 84);
$KitsuneIro       : rgb(195, 135, 67);
$OudoIro          : rgb(195, 145, 67);
$KohakuIro        : rgb(191, 120, 58);
$Akacha           : rgb(187, 85, 53);
$Taisha           : rgb(187, 85, 32);
$RengaIro         : rgb(181, 82, 51);
$Suzumecha        : rgb(170, 79, 55);
$Danjuuroucha     : rgb(159, 86, 58);
$KakishibuIro     : rgb(159, 86, 58);
$Benitobi         : rgb(154, 73, 63);
$Haicha           : rgb(152, 98, 60);
$ChaIro           : rgb(150, 80, 66);
$HiwadaIro        : rgb(150, 80, 54);
$TobiIro          : rgb(149, 72, 63);
$Kakicha          : rgb(149, 78, 42);
$BengaraIro       : rgb(143, 46, 20);
$AkasabiIro       : rgb(138, 51, 25);
$Kasshoku         : rgb(138, 59, 0);
$Kuriume          : rgb(133, 46, 25);
$Benihihada       : rgb(123, 71, 65);
$Ebicha_A         : rgb(119, 60, 48);
$Karacha_B        : rgb(120, 60, 29);
$KuriIro_A        : rgb(118, 47, 7);
$ShakudouIro      : rgb(117, 33, 0);
$SabiIro          : rgb(108, 53, 36);
$Sekkasshoku      : rgb(104, 63, 54);
$Chakasshoku      : rgb(102, 64, 50);
$Kurikawacha      : rgb(109, 60, 50);
$Kurocha          : rgb(88, 56, 34);
$Ebicha_B         : rgb(108, 44, 47);
$EbiIro           : rgb(100, 1, 37);
$KanzouIro        : rgb(248, 184, 98);
$KoujiIro         : rgb(246, 173, 73);
$Kincha           : rgb(243, 152, 0);
$MikanIro         : rgb(240, 131, 0);
$EntanIro         : rgb(236, 109, 81);
$Ouni             : rgb(238, 121, 72);
$KakiIro          : rgb(237, 109, 61);
$Kiaka            : rgb(236, 104, 0);
$NinjinIro        : rgb(236, 104, 0);
$DaidaiIro        : rgb(238, 120, 0);
$Terigaki         : rgb(235, 98, 56);
$Akadaidai        : rgb(234, 85, 6);
$Kinaka           : rgb(234, 85, 6);
$ShuIro           : rgb(235, 97, 1);
$KomugiIro        : rgb(228, 158, 97);
$NiIro            : rgb(228, 94, 50);
$Kicha            : rgb(225, 123, 52);
$NikkeiIro        : rgb(221, 122, 86);
$AkakuchibaIro    : rgb(219, 132, 73);
$Kourozen         : rgb(214, 106, 53);
$TanpopoIro       : rgb(255, 217, 0);
$KiIro            : rgb(255, 217, 0);
$Chuuki           : rgb(255, 234, 0);
$NanohanaIro      : rgb(255, 236, 71);
$KihadaIro        : rgb(254, 242, 99);
$TamagoIro        : rgb(252, 213, 117);
$HanabaIro        : rgb(251, 210, 107);
$KariyasuIro      : rgb(245, 229, 107);
$ToumorokoshiIro  : rgb(238, 195, 98);
$KanariaIro       : rgb(235, 216, 66);
$KikuchinashiIro  : rgb(255, 219, 79);
$KuchinashiIro    : rgb(251, 202, 77);
$HimawariIro      : rgb(252, 200, 0);
$YamabukiIro      : rgb(248, 181, 0);
$UkonIro          : rgb(250, 191, 20);
$Touou            : rgb(247, 193, 20);
$Konjiki          : rgb(230, 180, 34);
$Kogane           : rgb(230, 180, 34);
$Hajizome         : rgb(217, 166, 46);
$Yamabukicha      : rgb(200, 153, 50);
$KarashiIro       : rgb(208, 175, 76);
$Mamegaracha      : rgb(139, 150, 141);
$Kikujin          : rgb(110, 121, 85);
$YamabatoIro      : rgb(118, 124, 107);
$Rikyuunezumi     : rgb(136, 142, 126);
$Mirucha          : rgb(90, 84, 75);
$Aimirucha        : rgb(86, 86, 75);
$Aikobicha        : rgb(85, 86, 71);
$Sensaicha_A      : rgb(73, 74, 65);
$Iwaicha          : rgb(107, 111, 89);
$Sensaicha_B      : rgb(71, 75, 66);
$Kuromidori       : rgb(51, 54, 49);
$Yanagisusutake   : rgb(91, 99, 86);
$KabachaIro       : rgb(114, 98, 80);
$UtsubushiIro     : rgb(157, 137, 108);
$NamakabeIro      : rgb(148, 132, 106);
$Higosusutake     : rgb(137, 120, 88);
$Kobicha          : rgb(113, 98, 70);
$Shirotsurubami   : rgb(203, 185, 148);
$AmaIro_A         : rgb(214, 198, 175);
$HashibamiIro     : rgb(191, 164, 111);
$AkuIro           : rgb(158, 148, 120);
$Rikyuucha        : rgb(165, 149, 100);
$Uguisucha        : rgb(113, 92, 31);
$Mokuranjiki      : rgb(199, 179, 112);
$SunaIro          : rgb(220, 211, 178);
$AburaIro         : rgb(161, 147, 97);
$RikyuuIro        : rgb(143, 134, 103);
$Baikoucha        : rgb(136, 121, 56);
$Rikancha         : rgb(106, 93, 33);
$Kimirucha        : rgb(145, 135, 84);
$NataneyuIro      : rgb(166, 148, 37);
$Aokuchiba        : rgb(173, 162, 80);
$NegishiIro       : rgb(147, 139, 75);
$Hiwacha          : rgb(140, 136, 97);
$Yanagicha        : rgb(161, 164, 109);
$MiruIro          : rgb(114, 109, 64);
$UguisuIro        : rgb(146, 140, 54);
$RyokuouShoku     : rgb(220, 203, 24);
$HiwaIro          : rgb(215, 207, 58);
$MacchaIro        : rgb(197, 197, 106);
$WakakusaIro      : rgb(195, 216, 37);
$Kimidori         : rgb(184, 210, 0);
$WakameIro        : rgb(224, 235, 175);
$WakanaIro        : rgb(216, 230, 152);
$WakanaeIro       : rgb(199, 220, 104);
$Aoni             : rgb(153, 171, 78);
$KusaIro          : rgb(123, 141, 66);
$KokeIro          : rgb(105, 130, 27);
$Moegi            : rgb(170, 207, 83);
$NaeIro           : rgb(176, 202, 113);
$WakabaIro        : rgb(185, 208, 139);
$MatsubaIro       : rgb(131, 155, 92);
$NatsumushiIro    : rgb(206, 228, 174);
$Hiwamoegi        : rgb(130, 174, 70);
$YanagiIro        : rgb(168, 201, 127);
$Aoshirotsurubami : rgb(155, 168, 141);
$Yanaginezu       : rgb(200, 213, 187);
$Urahayanagi      : rgb(193, 216, 172);
$WasabiIro        : rgb(168, 191, 147);
$OitakeIro        : rgb(118, 145, 100);
$Byakuroku        : rgb(214, 233, 202);
$Usumoegi_A       : rgb(147, 202, 118);
$Yanagizome       : rgb(147, 184, 129);
$Usumoegi_B       : rgb(186, 220, 173);
$Fukagawanezumi   : rgb(151, 167, 145);
$Wakamidori       : rgb(152, 217, 142);
$Asamidori        : rgb(136, 203, 127);
$Usumidori        : rgb(105, 176, 118);
$Aonibi           : rgb(107, 123, 110);
$Seijinezu        : rgb(190, 210, 195);
$Usuao            : rgb(147, 182, 156);
$Sabiseiji        : rgb(166, 200, 178);
$RyokushouIro     : rgb(71, 136, 94);
$Chitosemidori    : rgb(49, 103, 69);
$WakatakeIro      : rgb(104, 190, 141);
$Midori           : rgb(62, 179, 112);
$TokiwaIro        : rgb(0, 123, 67);
$Chigusanezu      : rgb(190, 211, 202);
$ChigusaIro       : rgb(146, 181, 169);
$SeijiIro         : rgb(126, 190, 165);
$AotakeIro        : rgb(126, 190, 171);
$Tokiwamidori     : rgb(2, 135, 96);
$TokusaIro        : rgb(59, 121, 96);
$Biroudo          : rgb(47, 93, 80);
$Mushiao          : rgb(58, 91, 82);
$KawaIro          : rgb(71, 89, 80);
$Fukamidori       : rgb(0, 85, 46);
$TetsuIro         : rgb(0, 82, 67);
$MoegiIro         : rgb(0, 110, 84);
$Hanarokushou     : rgb(0, 163, 129);
$HisuiIro         : rgb(56, 180, 139);
$Aomidori         : rgb(0, 164, 151);
$Mizuasagi        : rgb(128, 171, 169);
$Sabiasagi        : rgb(92, 146, 145);
$Seiheki          : rgb(71, 131, 132);
$Omeshicha        : rgb(67, 103, 107);
$Minatonezumi     : rgb(128, 152, 155);
$Kourainando      : rgb(44, 79, 84);
$Momoshiocha      : rgb(31, 49, 52);
$Sabinezu         : rgb(71, 88, 92);
$Sabitetsuonando  : rgb(72, 88, 89);
$Ainezu           : rgb(108, 132, 141);
$Sabionando       : rgb(83, 114, 125);
$MasuhanaIro      : rgb(91, 126, 145);
$NoshimehanaIro   : rgb(66, 101, 121);
$Omeshionando     : rgb(76, 100, 115);
$Tetsuonando      : rgb(69, 87, 101);
$Konnezu          : rgb(68, 97, 123);
$Aitetsu          : rgb(57, 63, 76);
$Aokachi          : rgb(57, 62, 79);
$Kachikaeshi      : rgb(32, 55, 68);
$KachiIro         : rgb(77, 76, 97);
$Geppaku          : rgb(234, 244, 252);
$ShirosumireIro   : rgb(234, 237, 247);
$ShirahanaIro     : rgb(232, 236, 239);
$Aijiro           : rgb(235, 246, 247);
$Shiraai          : rgb(193, 228, 233);
$MizuIro          : rgb(188, 226, 232);
$Kamenozoki       : rgb(162, 215, 221);
$HisokuIro        : rgb(171, 206, 216);
$SoraIro          : rgb(160, 216, 239);
$WasurenagusaIro  : rgb(137, 195, 235);
$AofujiIro        : rgb(132, 162, 212);
$Byakugun         : rgb(131, 204, 210);
$Asahanada        : rgb(132, 185, 203);
$UsuhanaIro       : rgb(105, 138, 171);
$NandoIro         : rgb(0, 136, 153);
$AsagiIro         : rgb(0, 163, 175);
$Hanaasagi        : rgb(42, 131, 162);
$ShinbashiIro     : rgb(89, 185, 198);
$AmaIro_B         : rgb(44, 169, 225);
$TsuyukusaIro     : rgb(56, 161, 219);
$Ao               : rgb(0, 149, 217);
$Usuai            : rgb(0, 148, 200);
$HanadaIro        : rgb(39, 146, 195);
$Konpeki          : rgb(0, 123, 187);
$Usugunjou        : rgb(83, 131, 195);
$Usuhanazakura    : rgb(90, 121, 186);
$GunjouIro        : rgb(76, 108, 179);
$KakitsubataIro   : rgb(62, 98, 173);
$RuriIro          : rgb(30, 80, 162);
$Usuhanada        : rgb(80, 126, 164);
$Rurikon          : rgb(25, 68, 142);
$Konruri          : rgb(22, 74, 132);
$AiIro            : rgb(22, 94, 131);
$Seiran           : rgb(39, 74, 120);
$Kokihanada       : rgb(42, 64, 115);
$KonIro           : rgb(34, 58, 112);
$Konjou           : rgb(25, 47, 96);
$Tomekon          : rgb(28, 48, 92);
$Koiai            : rgb(15, 35, 80);
$Tetsukon         : rgb(23, 24, 75);
$Shikkoku         : rgb(13, 0, 21);
$AwafujiIro       : rgb(187, 200, 230);
$FujiIro          : rgb(187, 188, 222);
$BenikakesoraIro  : rgb(132, 145, 195);
$Benimidori       : rgb(132, 145, 195);
$Konkikyou        : rgb(77, 90, 175);
$HanaIro          : rgb(77, 90, 175);
$Konai            : rgb(74, 72, 142);
$Benikikyou       : rgb(77, 67, 152);
$KikyouIro        : rgb(86, 84, 162);
$Fujinando        : rgb(112, 108, 170);
$BenikakehanaIro  : rgb(104, 105, 155);
$ShionIro         : rgb(134, 123, 169);
$ShirafujiIro     : rgb(219, 208, 230);
$Fujimurasaki     : rgb(165, 154, 202);
$SumireIro        : rgb(112, 88, 163);
$Aomurasaki       : rgb(103, 69, 152);
$ShoubuIro        : rgb(103, 65, 150);
$RindouIro        : rgb(144, 121, 173);
$Edomurasaki      : rgb(116, 83, 153);
$Honmurasaki      : rgb(101, 49, 142);
$BudouIro         : rgb(82, 47, 96);
$Fukamurasaki     : rgb(73, 55, 89);
$Shikoku          : rgb(46, 41, 48);
$Murasaki         : rgb(136, 72, 152);
$Usubudou         : rgb(192, 162, 199);
$Shikon           : rgb(70, 14, 68);
$AnkouShoku       : rgb(116, 50, 92);
$KuwanomiIro      : rgb(85, 41, 91);
$Kodaimurasaki    : rgb(137, 91, 138);
$Nasukon          : rgb(130, 72, 128);
$Futaai           : rgb(145, 92, 139);
$Kyoumurasaki     : rgb(157, 91, 139);
$Ebizome          : rgb(122, 65, 113);
$Wakamurasaki     : rgb(188, 100, 164);
$Benimurasaki     : rgb(180, 76, 151);
$Umemurasaki      : rgb(170, 76, 143);
$AyameIro         : rgb(204, 126, 177);
$BenifujiIro      : rgb(204, 166, 191);
$Asamurasaki      : rgb(196, 163, 191);
$Murasakisuishou  : rgb(231, 231, 235);
$Usuumenezu       : rgb(220, 214, 217);
$Akatsukinezu     : rgb(211, 207, 217);
$Botannezu        : rgb(211, 204, 214);
$KasumiIro        : rgb(200, 194, 198);
$Fujinezu         : rgb(166, 165, 196);
$HashitaIro       : rgb(166, 154, 189);
$UsuIro           : rgb(168, 157, 172);
$Usunezu          : rgb(151, 144, 164);
$Hatobanezumi     : rgb(158, 139, 142);
$HatobaIro        : rgb(149, 133, 156);
$Kikyounezu       : rgb(149, 148, 154);
$Murasakinezu     : rgb(113, 104, 108);
$Budounezumi      : rgb(112, 91, 103);
$KokiIro          : rgb(99, 73, 80);
$Murasakitobi     : rgb(95, 65, 75);
$Koinezu          : rgb(79, 69, 92);
$Fujisusutake     : rgb(90, 83, 89);
$Keshimurasaki    : rgb(89, 66, 85);
$Benikeshinezumi  : rgb(82, 71, 72);
$Nisemurasaki     : rgb(81, 55, 67);
$Haikimidori      : rgb(230, 234, 227);
$SobakiriIro      : rgb(212, 220, 214);
$Usukumonezu      : rgb(212, 220, 218);
$KarenoIro        : rgb(211, 203, 198);
$UrumiIro         : rgb(200, 194, 190);
$Rikyuushirocha   : rgb(179, 173, 160);
$Chanezumi        : rgb(169, 158, 147);
$Kurumizome       : rgb(165, 143, 134);
$Edonezu          : rgb(146, 129, 120);
$SusuIro          : rgb(136, 127, 122);
$Choujicha        : rgb(180, 134, 107);
$Fushizome        : rgb(178, 140, 110);
$Soudenkaracha    : rgb(161, 109, 93);
$Tonocha          : rgb(159, 111, 85);
$SenchaIro        : rgb(140, 100, 80);
$Ginsusudake      : rgb(133, 104, 89);
$Kigaracha_B      : rgb(118, 92, 71);
$SusutakeIro      : rgb(111, 81, 76);
$Kogecha          : rgb(111, 75, 62);
$Kurotsurubami    : rgb(84, 74, 71);
$KenpouIro        : rgb(84, 63, 50);
$KuriIro_B        : rgb(85, 71, 56);
$Binroujizome     : rgb(67, 61, 60);
$Kurotobi         : rgb(67, 47, 47);
$Akasumi          : rgb(63, 49, 43);
$Kurobeni         : rgb(48, 40, 51);
$Shiro            : rgb(255, 255, 255);
$GofunIro         : rgb(255, 255, 252);
$UnohanaIro       : rgb(247, 252, 254);
$Hakuji           : rgb(248, 251, 248);
$KinariIro        : rgb(251, 250, 245);
$NyuuhakuShoku    : rgb(243, 243, 243);
$Shironeri        : rgb(243, 243, 242);
$SoShoku          : rgb(234, 229, 227);
$Shiraumenezu     : rgb(229, 228, 230);
$Shironezu        : rgb(220, 221, 221);
$Kinunezu         : rgb(221, 220, 214);
$Haiao            : rgb(192, 198, 201);
$Ginnezu          : rgb(175, 175, 176);
$Usunibi          : rgb(173, 173, 173);
$UsuzumiIro       : rgb(163, 163, 162);
$SuzuIro          : rgb(158, 161, 163);
$Sunezumi         : rgb(159, 160, 160);
$NezumiIro        : rgb(148, 148, 149);
$Genjinezu        : rgb(136, 128, 132);
$HaiIro           : rgb(125, 125, 125);
$NamariIro        : rgb(123, 124, 125);
$NibiIro          : rgb(114, 113, 113);
$Sumi             : rgb(89, 88, 87);
$Dobunezumi       : rgb(89, 84, 85);
$KeshizumiIro     : rgb(82, 78, 77);
$Aisumicha        : rgb(71, 74, 77);
$YoukanIro        : rgb(56, 60, 60);
$RouIro           : rgb(43, 43, 43);
$Kuro             : rgb(43, 43, 43);
$KarasubaIro      : rgb(24, 6, 20);
$Tetsuguro        : rgb(40, 26, 20);
$NurebaIro        : rgb(0, 11, 0);
$Kokutan          : rgb(37, 13, 0);
$Kenpoukurocha    : rgb(36, 26, 8);
$AnkokuShoku      : rgb(22, 22, 14);
