// ------------------------------------
// Variables
// ------------------------------------

//// Color
$white:        rgb(255, 255, 255);
$black:        rgb(  0,   0,   0);
$darkestblue:  rgb( 39, 135, 231);
$darkblue:     rgb(135, 183, 231);
$blue:         rgb(183, 207, 231);
$lightblue:    rgb(207, 219, 231);
$lightestblue: rgb(219, 231, 255);
$yellow:       rgb(255, 222,   0);

//// Font Family
$sans-serif: "MaruGoR-AA", "MeiryoKe_PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic",sans-serif;
$monospace: "VL ゴシック", "VL Gothic",  "MeiryoKe_Console", "Courier", "Consolas", "Courier New", monospace;
$serif: "IPA モナー P明朝", "IPA mona PMincho", "IPA P明朝", "IPA PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
// http://stystk.com/post/499463433/use-helvetica-neue-light
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$ascii-art: "MaruGoR-AA", "IPA モナー Pゴシック", "IPA MONAPGOTHIC", "Mona", "MS PGothic", "ＭＳ Ｐゴシック", "MS Pｺﾞｼｯｸ", "MS Pゴシック", sans-serif;

//// Font Size
// http://developer.yahoo.com/yui/fonts/
$font10px: 77%;
$font11px: 85%;
$font12px: 93%;
$font13px: 100%;
$font14px: 108%;
$font15px: 116%;
$font16px: 123.1%;
$font17px: 131%;
$font18px: 138.5%;
$font19px: 146.5%;
$font20px: 153.9%;
$font21px: 161.6%;
$font22px: 167%;
$font23px: 174%;
$font24px: 182%;
$font25px: 189%;
$font26px: 197%;

// mark
// “”
$ldquo: "\201C";
$rdquo: "\201D";
// ≪≫
$laquo: "\00AB";
$raquo: "\00BB";


// ------------------------------------
// mixin
// ------------------------------------

@mixin yui-fonts {
  /* YUI 2: Fonts CSS
   * http://developer.yahoo.com/yui/fonts/ */
  font: 13px/1.231 $sans-serif;

  &.lte7 {
	/* IE7 以下のフォント固定を解除 */
	font-size: small;
  }

  &.ie8 {
	/* IE8 でもフォントが固定されるので解除
	 * http://individualpackage.blog41.fc2.com/blog-entry-56.html */
	font-size: 92%;
  }

  select, input, button, textarea, button {
	font: 99%;
  }
  table {
	font-size: inherit;
	font: 100%;
  }
  pre,code,kbd,samp,tt {
	//font-family: monospace;
	font-family: $monospace;
	line-height: 1;
	&.lte7 {
	  font-size: 108%;
	}
  }
}

@mixin clearfix {
  .lte7 & {
	zoom: 1; }

  &:before,
  &:after {
	display: block;
	// height: 0;
	height: 0.01px;  // http://hail2u.net/pub/test/199.html
	visibility: hidden;
	content: "\0020" !important;
  }

  &:after {
	clear: both;
  }
}

@mixin cf {
  &:before,
  &:after {
	/** A new micro clearfix hack ? Nicolas Gallagher
	 * http://nicolasgallagher.com/micro-clearfix-hack/ */
	/* For modern browsers */
	content:"";
	display:table;
  }

  &:after {
	/* For modern browsers */
	clear:both;
  }

  .lt7 & {
	/* For IE 6/7 (trigger hasLayout) */
	zoom:1;
  }
}

// $value に , が混じる場合は、() で囲まないとエラーになる
// 例: @include cross-browser(box-shadow, (0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset));
@mixin cross-browser($property, $value, $css3: true, $moz: true, $webkit: true, $o: true, $ms: false) {
  @if $css3 { #{$property}: $value }
  @if $moz { -moz-#{$property}: $value }
  @if $webkit { -webkit-#{$property}: $value }
  @if $o { -o-#{$property}: $value }
  @if $ms { -ms-#{$property}: $value }
}


@mixin rounded($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-#{$side}-radius: $radius;
  -webkit-border-#{$side}-radius: $radius;
  -o-border-#{$side}-radius: $radius;
  -ms-border-#{$side}-radius: $radius;
}

@mixin round($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
}

// div a => block
@mixin a-block {
  display: block;
  /* IE start */
  position: relative;
  /* IE end */
}

@mixin float($direction: left) {
  float: #{$direction};
  /* IEでフロートさせたボックスのマージンが倍になるバグ - Weblog - hail2u.net
   * http://hail2u.net/blog/webdesign/doubled_margin_bug_at_ie.html */
  display: inline;
}

// 不特定の数の横に並ぶブロック要素をセンタリングさせる | CSS-EBLOG
// http://css-eblog.com/csstechnique/display-inlineblock.html
@mixin inline-block {
  /* For modern browsers */
  display: inline-block;

  .lte7 {
	display: inline;
	/* For IE 6/7 (trigger hasLayout) */
	zoom: 1;
  }
}


// Image Replacement
@mixin rep($z-index: 3, $position: relative) {
  // http://digital-nb.com/wp/archives/97
  // height: 0;
  // overflow: hidden;
  // display: block;
  // padding-top: #{$size};
  // .lte5 & { display: none; }

  // http://css-eblog.com/css-only/dkir-rollover.html
  position: #{$position};
  z-index: #{$z-index};
  & a{
	/* Firefox2 start */
	display: -moz-inline-box;
	/* Firefox2 end */
	display: inline-block;
	&:hover {
	  /* IE6 start */
	  position: static; }
	/* IE6 end */ }
  img {
	position: relative;
	z-index: -1;  }
}

@mixin hide {
  height: 0;
  width: 0;
  overflow: hidden;
  display: block;
  z-index: -1;
  font-size: 0;

  .lte5 & {
	display: none;
	padding-top: 0px;
	zoom: 1;
  }
}

@mixin list-img {
  /* IE start */
  line-height: 0;
  vertical-align: bottom;
  font-size: 0;
  /* IE end */ }

// https://github.com/hail2u/scss-partials/blob/master/_speech-bubble.scss
@mixin speech-bubble($bgcolor: #9cf, $round-size: 6px, $tail-size: 12px, $tail-position: 24px) {
  position: relative;
  background-color: $bgcolor;
  -moz-border-radius: $round-size;
  -webkit-border-radius: $round-size;
  border-radius: $round-size;

  &:before {
	border-top-width: $tail-size;
	border-right-width: $tail-size;
	border-bottom-width: 0;
	border-left-width: $tail-size;
	border-color: $bgcolor transparent;
	border-style: solid;
	display: block;
	position: absolute;
	bottom: -$tail-size;
	left: $tail-position;
	width: 0;
	height: 0;
	content: "";
  }
}

@mixin bordered-speech-bubble($background-color: #9cf, $border-color: #369, $border-size: 4px, $round-size: 8px, $tail-size: 16px, $tail-position: 16px) {
  border: $border-size solid $border-color;
  position: relative;
  background-color: $background-color;
  -moz-border-radius: $round-size;
  -webkit-border-radius: $round-size;
  border-radius: $round-size;

  &:before {
	border-top-width: $tail-size;
	border-right-width: $tail-size;
	border-bottom-width: 0;
	border-left-width: $tail-size;
	border-color: $border-color transparent;
	border-style: solid;
	display: block;
	position: absolute;
	bottom: (- $tail-size);
	left: $tail-position;
	width: 0;
	height: 0;
	content: "";
  }

  &:after {
	border-top-width: $tail-size;
	border-right-width: $tail-size;
	border-bottom-width: 0;
	border-left-width: $tail-size;
	border-color: $background-color transparent;
	border-style: solid;
	display: block;
	position: absolute;
	bottom: (- $tail-size + $border-size * 1.5);
	left: $tail-position;
	width: 0;
	height: 0;
	content: "";
  }
}

// https://gist.github.com/277379
@mixin opacity($opacity: 0.5) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)";
  filter: alpha(opacity = $opacity * 100);
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;
}

// http://www.htmq.com/css3/transform.shtml
@mixin transform($transform: rotate(-30deg))  {
  -moz-transform: $transform;
  -webkit-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

// http://www.htmq.com/css3/transform-origin.shtml
@mixin transform-origin($transform-origin: 50% 50%) {
  -moz-transform-origin: $transform-origin;
  -webkit-transform-origin: $transform-origin;
  -o-transform-origin: $transform-origin;
  -ms-transform-origin: $transform-origin;
  transform-origin: $transform-origin;
}

// http://www.htmq.com/css3/box-shadow.shtml
@mixin box-shadow($box-shadow: rgba(0, 0, 0, 0.5)) {
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

// http://bowz.info/409
@mixin pre-wrap {
  pre {
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
  }
}

// Create a centred horizontal navigation — CSS Wizardry by Harry Roberts
// http://csswizardry.com/2011/01/create-a-centred-horizontal-navigation/
@mixin centred-nav {
  text-align: center;
  li {
	display: inline;
  }
  a {
	display: inline-block;
  }
}
