@charset "UTF-8";
/* ------------------------------------
    original: http://www.tumblr.com/theme/9731
 ----------------------------------- */
[hidden], area, base, basefont, command, datalist, head, input[type=hidden], link, menu[type=context], meta, noembed, noframes, param, rp, script, source, style, title {
  display: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: outset;
  display: table;
  font-size: initial;
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  line-height: initial;
  text-align: initial;
  white-space: initial; }

caption {
  display: table-caption; }

colgroup {
  display: table-column-group; }

col {
  display: table-column; }

thead {
  display: table-header-group; }

tbody {
  display: table-row-group; }

tfoot {
  display: table-footer-group; }

tr {
  display: table-row; }

td, th {
  border-style: inset;
  display: table-cell;
  padding: 1px; }

li {
  display: list-item; }

ruby {
  display: ruby; }

rt {
  display: ruby-text; }

blockquote, dir, dl, figure, listing, menu, ol, p, plaintext, pre, ul, xmp {
  margin-bottom: 1em;
  margin-top: 1em; }

dir dir, dir dl, dir menu, dir ol, dir ul, dl dir, dl dl, dl menu, dl ol, dl ul, menu dir, menu dl, menu menu, menu ol, menu ul, ol dir, ol dl, ol menu, ol ol, ol ul, ul dir, ul dl, ul menu, ul ol, ul ul {
  margin-bottom: 0;
  margin-top: 0; }

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: .67em;
  margin-top: .67em; }

h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: .83em;
  margin-top: .83em; }

h3 {
  font-size: 1.17em;
  font-weight: 700;
  margin-bottom: 1em;
  margin-top: 1em; }

h4 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1.33em;
  margin-top: 1.33em; }

h5 {
  font-size: .83em;
  font-weight: 700;
  margin-bottom: 1.67em;
  margin-top: 1.67em; }

h6 {
  font-size: .67em;
  font-weight: 700;
  margin-bottom: 2.33em;
  margin-top: 2.33em; }

dd {
  margin-left: 40px; }

details > dd, figure > dd {
  margin-left: 0; }

dir, menu, ol, ul {
  padding-left: 40px; }

blockquote, figure {
  margin-left: 40px;
  margin-right: 40px; }

form {
  margin-bottom: 1em; }

tr, td, th {
  vertical-align: inherit; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

caption[align=bottom] {
  caption-side: bottom; }

p[align=left], h1[align=left], h2[align=left], h3[align=left], h4[align=left], h5[align=left], h6[align=left] {
  text-align: left; }

p[align=right], h1[align=right], h2[align=right], h3[align=right], h4[align=right], h5[align=right], h6[align=right] {
  text-align: right; }

p[align=justify], h1[align=justify], h2[align=justify], h3[align=justify], h4[align=justify], h5[align=justify], h6[align=justify] {
  text-align: justify; }

address, cite, dfn, em, i, var {
  font-style: italic; }

b, strong, th {
  font-weight: 700; }

code, kbd, listing, plaintext, pre, samp, tt, xmp {
  font-family: monospace; }

big {
  font-size: larger; }

small, sub, sup {
  font-size: smaller; }

sub, sup {
  line-height: normal; }

:link {
  color: blue; }

:visited {
  color: purple; }

mark {
  background: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

table, td, th {
  border-color: gray; }

thead, tbody, tfoot, tr {
  border-color: inherit; }

table[rules=none], table[rules=groups], table[rules=rows], table[rules=cols], table[rules=all], table[frame=void], table[frame=above], table[frame=below], table[frame=hsides], table[frame=lhs], table[frame=rhs], table[frame=vsides], table[frame=box], table[frame=border], table[rules=none] > tr > td, table[rules=none] > tr > th, table[rules=groups] > tr > td, table[rules=groups] > tr > th, table[rules=rows] > tr > td, table[rules=rows] > tr > th, table[rules=cols] > tr > td, table[rules=cols] > tr > th, table[rules=all] > tr > td, table[rules=all] > tr > th, table[rules=none] > thead > tr > td, table[rules=none] > thead > tr > th, table[rules=groups] > thead > tr > td, table[rules=groups] > thead > tr > th, table[rules=rows] > thead > tr > td, table[rules=rows] > thead > tr > th, table[rules=cols] > thead > tr > td, table[rules=cols] > thead > tr > th, table[rules=all] > thead > tr > td, table[rules=all] > thead > tr > th, table[rules=none] > tbody > tr > td, table[rules=none] > tbody > tr > th, table[rules=groups] > tbody > tr > td, table[rules=groups] > tbody > tr > th, table[rules=rows] > tbody > tr > td, table[rules=rows] > tbody > tr > th, table[rules=cols] > tbody > tr > td, table[rules=cols] > tbody > tr > th, table[rules=all] > tbody > tr > td, table[rules=all] > tbody > tr > th, table[rules=none] > tfoot > tr > td, table[rules=none] > tfoot > tr > th, table[rules=groups] > tfoot > tr > td, table[rules=groups] > tfoot > tr > th, table[rules=rows] > tfoot > tr > td, table[rules=rows] > tfoot > tr > th, table[rules=cols] > tfoot > tr > td, table[rules=cols] > tfoot > tr > th, table[rules=all] > tfoot > tr > td, table[rules=all] > tfoot > tr > th {
  border-color: #000; }

:link, :visited, ins, u {
  text-decoration: underline; }

abbr[title], acronym[title] {
  text-decoration: dotted underline; }

blink {
  text-decoration: blink; }

q:before {
  content: open-quote; }

q:after {
  content: close-quote; }

listing, plaintext, pre, xmp {
  white-space: pre; }

ol {
  list-style-type: decimal; }

[dir=ltr] {
  direction: ltr;
  unicode-bidi: embed; }

[dir=rtl] {
  direction: rtl;
  unicode-bidi: embed; }

bdo[dir=ltr], bdo[dir=rtl] {
  unicode-bidi: bidi-override; }

pre[wrap] {
  white-space: pre-wrap; }

br[clear=left] {
  clear: left; }

br[clear=right] {
  clear: right; }

br[clear=all], br[clear=both] {
  clear: both; }

ol[type=a], li[type=a] {
  list-style-type: lower-alpha; }

ol[type=A], li[type=A] {
  list-style-type: upper-alpha; }

ol[type=i], li[type=i] {
  list-style-type: lower-roman; }

ol[type=I], li[type=I] {
  list-style-type: upper-roman; }

table[rules=none], table[rules=groups], table[rules=rows], table[rules=cols], table[rules=all] {
  border-collapse: collapse;
  border-style: none; }

table[frame=void] {
  border-style: hidden; }

table[frame=above] {
  border-style: solid hidden hidden; }

table[frame=below] {
  border-style: hidden hidden solid; }

table[frame=hsides] {
  border-style: solid hidden; }

table[frame=lhs] {
  border-style: hidden hidden hidden solid; }

table[frame=rhs] {
  border-style: hidden solid hidden hidden; }

table[frame=vsides] {
  border-style: hidden solid; }

table[rules=none] > tr > td, table[rules=none] > tr > th, table[rules=none] > thead > tr > td, table[rules=none] > thead > tr > th, table[rules=none] > tbody > tr > td, table[rules=none] > tbody > tr > th, table[rules=none] > tfoot > tr > td, table[rules=none] > tfoot > tr > th, table[rules=groups] > tr > td, table[rules=groups] > tr > th, table[rules=groups] > thead > tr > td, table[rules=groups] > thead > tr > th, table[rules=groups] > tbody > tr > td, table[rules=groups] > tbody > tr > th, table[rules=groups] > tfoot > tr > td, table[rules=groups] > tfoot > tr > th, table[rules=rows] > tr > td, table[rules=rows] > tr > th, table[rules=rows] > thead > tr > td, table[rules=rows] > thead > tr > th, table[rules=rows] > tbody > tr > td, table[rules=rows] > tbody > tr > th, table[rules=rows] > tfoot > tr > td, table[rules=rows] > tfoot > tr > th {
  border-style: none; }

table[rules=cols] > tr > td, table[rules=cols] > tr > th, table[rules=cols] > thead > tr > td, table[rules=cols] > thead > tr > th, table[rules=cols] > tbody > tr > td, table[rules=cols] > tbody > tr > th, table[rules=cols] > tfoot > tr > td, table[rules=cols] > tfoot > tr > th {
  border-style: none solid; }

table[border] > tr > td, table[border] > tr > th, table[border] > thead > tr > td, table[border] > thead > tr > th, table[border] > tbody > tr > td, table[border] > tbody > tr > th, table[border] > tfoot > tr > td, table[border] > tfoot > tr > th {
  border-width: 1px; }

table, input, select, option, optgroup, button, textarea, keygen {
  text-indent: initial; }

input {
  box-sizing: border-box; }

hr {
  border: 0;
  border-style: inset;
  border-top: 1px solid #ccc;
  border-width: 1px;
  color: gray;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box; }

hr[align=left] {
  margin-left: 0;
  margin-right: auto; }

hr[align=right] {
  margin-left: auto;
  margin-right: 0; }

fieldset {
  border: groove 2px ThreeDFace;
  margin-left: 2px;
  margin-right: 2px;
  padding: .35em .625em .75em; }

iframe {
  border: 2px inset; }

img[align=left] {
  margin-right: 3px; }

img[align=right] {
  margin-left: 3px; }

applet[align=texttop], embed[align=texttop], iframe[align=texttop], img[align=texttop], input[type=image][align=texttop], object[align=texttop] {
  vertical-align: text-top; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

address, article, aside, blockquote, body, center, dd, dir, div, dl, dt, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, legend, listing, menu, nav, ol, p, plaintext, pre, section, ul, xmp, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

thead, tbody, tfoot, table > tr, col[valign=middle], thead[valign=middle], tbody[valign=middle], tfoot[valign=middle], tr[valign=middle], td[valign=middle], th[valign=middle], applet[align=absmiddle], embed[align=absmiddle], iframe[align=absmiddle], img[align=absmiddle], input[type=image][align=absmiddle], object[align=absmiddle], applet[align=abscenter], embed[align=abscenter], iframe[align=abscenter], img[align=abscenter], input[type=image][align=abscenter], object[align=abscenter], input, select {
  vertical-align: middle; }

th, p[align=center], h1[align=center], h2[align=center], h3[align=center], h4[align=center], h5[align=center], h6[align=center] {
  text-align: center; }

table[align=left], applet[align=left], embed[align=left], iframe[align=left], img[align=left], input[type=image][align=left], object[align=left] {
  float: left; }

table[align=right], applet[align=right], embed[align=right], iframe[align=right], img[align=right], input[type=image][align=right], object[align=right] {
  float: right; }

table[align=center], table[align=abscenter], table[align=absmiddle], table[align=middle], hr[align=center] {
  margin-left: auto;
  margin-right: auto; }

col[valign=top], thead[valign=top], tbody[valign=top], tfoot[valign=top], tr[valign=top], td[valign=top], th[valign=top], applet[align=top], embed[align=top], iframe[align=top], img[align=top], input[type=image][align=top], object[align=top] {
  vertical-align: top; }

col[valign=bottom], thead[valign=bottom], tbody[valign=bottom], tfoot[valign=bottom], tr[valign=bottom], td[valign=bottom], th[valign=bottom], applet[align=bottom], embed[align=bottom], iframe[align=bottom], img[align=bottom], input[type=image][align=bottom], object[align=bottom] {
  vertical-align: bottom; }

col[valign=baseline], thead[valign=baseline], tbody[valign=baseline], tfoot[valign=baseline], tr[valign=baseline], td[valign=baseline], th[valign=baseline], applet[align=bottom], embed[align=bottom], iframe[align=bottom], img[align=bottom], input[type=image][align=bottom], object[align=bottom], applet[align=baseline], embed[align=baseline], iframe[align=baseline], img[align=baseline], input[type=image][align=baseline], object[align=baseline] {
  vertical-align: baseline; }

del, s, strike, del {
  text-decoration: line-through; }

nobr, td[nowrap], th[nowrap] {
  white-space: nowrap; }

dir, menu, ul, ul[type=disc], li[type=disc] {
  list-style-type: disc; }

dir dl, dir menu, dir ul, menu dl, menu menu, menu ul, ol dl, ol menu, ol ul, ul dl, ul menu, ul ul, ul[type=circle], li[type=circle] {
  list-style-type: circle; }

dir dir dl, dir dir menu, dir dir ul, dir menu dl, dir menu menu, dir menu ul, dir ol dl, dir ol menu, dir ol ul, dir ul dl, dir ul menu, dir ul ul, menu dir dl, menu dir menu, menu dir ul, menu menu dl, menu menu menu, menu menu ul, menu ol dl, menu ol menu, menu ol ul, menu ul dl, menu ul menu, menu ul ul, ol dir dl, ol dir menu, ol dir ul, ol menu dl, ol menu menu, ol menu ul, ol ol dl, ol ol menu, ol ol ul, ol ul dl, ol ul menu, ol ul ul, ul dir dl, ul dir menu, ul dir ul, ul menu dl, ul menu menu, ul menu ul, ul ol dl, ul ol menu, ul ol ul, ul ul dl, ul ul menu, ul ul ul, ul[type=square], li[type=square] {
  list-style-type: square; }

table[frame=box], table[frame=border], table[rules=groups] > colgroup, table[rules=groups] > thead, table[rules=groups] > tbody, table[rules=groups] > tfoot, table[rules=rows] > tr, table[rules=rows] > thead > tr, table[rules=rows] > tbody > tr, table[rules=rows] > tfoot > tr, table[rules=all] > tr > td, table[rules=all] > tr > th, table[rules=all] > thead > tr > td, table[rules=all] > thead > tr > th, table[rules=all] > tbody > tr > td, table[rules=all] > tbody > tr > th, table[rules=all] > tfoot > tr > td, table[rules=all] > tfoot > tr > th, hr[color], hr[noshade] {
  border-style: solid; }

/* ------------------------------------
  END: Reset Stylesheet
 ------------------------------------ */
/* ------------------------------------
  BEGIN: add reset styles
  (original: http://yui.yahooapis.com/2.8.2r1/build/fonts/fonts.css )
 ----------------------------------- */
html body {
  font: 13px/1.231 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
  html body.lte7 {
    font-size: small; }
  html body select, html body input, html body button, html body textarea, html body button {
    font: 99%; }
  html body table {
    font-size: inherit;
    font: 100%; }
  html body pre, html body code, html body kbd, html body samp, html body tt {
    font-family: monospace;
    line-height: 1; }
    html body pre.lte7, html body code.lte7, html body kbd.lte7, html body samp.lte7, html body tt.lte7 {
      font-size: 108%; }

/* ------------------------------------
  END: add reset styles
 ----------------------------------- */
/* ------------------------------------
  BEGIN: elements
 ----------------------------------- */
body {
  background: #ffd900 repeat-x fixed;
  color: #0d0015; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  margin-right: 2px; }

a:link {
  color: #c9171e; }
a:visited {
  color: #bc64a4; }
a:hover {
  color: #f3f3f2;
  background-color: #0d0015; }
a img {
  border-style: none;
  /* http://hail2u.net/blog/webdesign/ */
  vertical-align: text-bottom;
  background-color: white; }

q {
  background-color: #ebf6f7; }

nav ul {
  padding-top: 1em;
  margin: 1em 0; }

code {
  font-family: "Courier", "Consolas", "Courier New", monospace; }

i {
  font-style: italic; }

em {
  font-style: normal;
  border-bottom: 1px dotted #595857; }

strong {
  font-weight: 900; }

p.small {
  font-size: 77%; }

mark {
  color: #fcd575; }

/* ------------------------------------
  END: elements
 ----------------------------------- */
/* ------------------------------------
  BEGIN: layout
 ----------------------------------- */
/* Block
 ----------------*/
#banner header,
#container,
#footer footer {
  margin: 0 auto;
  width: 960px;
  overflow: hidden; }

.lte6 {
  /* IE: centering */
  text-align: center; }
  .lte6 #banner, .lte6 #container, .lte6 #footer {
    text-align: left; }

#info {
  float: right;
  display: inline;
  margin: 8px; }

#main {
  float: left;
  display: inline;
  margin: 8px; }

#links {
  float: right;
  display: inline;
  margin: 8px; }

#info, #main, #links {
  overflow: hidden; }

.lte7 #container, .lte7
article, .lte7
#links {
  zoom: 1; }
#container:before, #container:after,
article:before,
article:after,
#links:before,
#links:after {
  display: block;
  height: 0.01px;
  visibility: hidden;
  content: "\0020"; }
#container:after,
article:after,
#links:after {
  clear: both; }

/* Inner
 ----------------*/
#banner {
  background-color: #c9171e;
  -moz-box-shadow: -4px 0px 4px 0px rgba(201, 23, 30, 0.8);
  -webkit-box-shadow: -4px 0px 4px 0px rgba(201, 23, 30, 0.8);
  box-shadow: -4px 0px 4px 0px rgba(201, 23, 30, 0.8); }
  #banner header {
    margin-bottom: 0px;
    padding: 0; }
  #banner h1, #banner .description {
    display: table-cell;
    vertical-align: middle;
    padding: 8px; }
    .lte7 #banner h1, .lte7 #banner .description {
      display: inline;
      zoom: 1; }
  #banner h1 {
    font: 197%/1.6 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    width: 352px; }
  #banner .description {
    font: 77%/1.6 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    width: 576px; }
  #banner a {
    text-decoration: none;
    text-shadow: black 4px 2px 0;
    color: white; }
    #banner a:visited {
      color: white; }
    #banner a:hover {
      color: white; }

#main {
  width: 576px; }
  #main article {
    background-color: white;
    margin-bottom: 1em;
    border: 1px solid #c1d8ac;
    -moz-box-shadow: 0px 1px 2px 0px rgba(193, 216, 172, 0.8);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(193, 216, 172, 0.8);
    box-shadow: 0px 1px 2px 0px rgba(193, 216, 172, 0.8);
    padding: 1em; }
    #main article header p {
      display: block;
      font: 77% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      text-transform: uppercase;
      color: #afafb0;
      margin: 0 0 1em; }
    #main article header h1 {
      font: 123.1% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      line-height: 1;
      margin-top: 0; }
    #main article blockquote {
      border-left: 2px dotted #afafb0;
      padding-left: 1em;
      margin-left: 1em; }
    #main article section.notes ol.notes {
      font: 77% "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      margin: 0; }
      #main article section.notes ol.notes li {
        list-style: none;
        border-top: 1px solid #f3f3f3;
        margin: 0;
        padding: .5em 0; }
        #main article section.notes ol.notes li img {
          vertical-align: middle;
          border: 2px solid #afafb0; }
    #main article footer {
      font: 77% "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      border-top: 1px solid #f3f3f3;
      padding-top: 1em; }
      #main article footer a {
        text-decoration: none;
        color: #afafb0; }
        #main article footer a:visited {
          text-decoration: none;
          color: #bc64a4; }
      #main article footer ul li {
        list-style: none;
        display: inline;
        color: #afafb0;
        margin: 0 4px 0 0;
        background: white url("http://static.tumblr.com/i7vkogx/meblhoggu/csg-4d748e4433eb4.png") no-repeat top left; }
        .lte6 #main article footer ul li {
          background: white url("http://static.tumblr.com/i7vkogx/qHclhq1ud/_i7vkogx_4vdlhogxr_csg-4d749037e5c52.gif.png") no-repeat top left; }
        #main article footer ul li.reblogged, #main article footer ul li.notes, #main article footer ul li.tagged {
          padding-left: 18px;
          padding-bottom: 4px;
          line-height: 20px;
          width: 16px;
          height: 16px; }
        #main article footer ul li.reblogged {
          background-position: 0 0; }
        #main article footer ul li.notes {
          background-position: 0px -24px; }
        #main article footer ul li.tagged {
          background-position: 0px -48px; }
          #main article footer ul li.tagged a:after {
            content: ","; }
          #main article footer ul li.tagged a:last-child:after {
            content: ""; }
    #main article.quote blockquote {
      border: 4px solid #afafb0;
      position: relative;
      background-color: #ebf6f7;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      margin: 0 0 16px 0;
      padding: 1em;
      font: 123.1% "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif; }
      #main article.quote blockquote:before {
        border-top-width: 16px;
        border-right-width: 16px;
        border-bottom-width: 0;
        border-left-width: 16px;
        border-color: #afafb0 transparent;
        border-style: solid;
        display: block;
        position: absolute;
        bottom: -16px;
        left: 16px;
        width: 0;
        height: 0;
        content: ""; }
      #main article.quote blockquote:after {
        border-top-width: 16px;
        border-right-width: 16px;
        border-bottom-width: 0;
        border-left-width: 16px;
        border-color: #ebf6f7 transparent;
        border-style: solid;
        display: block;
        position: absolute;
        bottom: -10px;
        left: 16px;
        width: 0;
        height: 0;
        content: ""; }
      #main article.quote blockquote:first-child, #main article.quote blockquote:first-child {
        /* tombloo=>twitter quote で余計な divがつく…… */
        display: inline; }
    #main article.photo div.photo {
      text-align: center;
      padding-bottom: 1em; }
    #main article.chat p {
      margin: 0;
      padding: 1em; }
      #main article.chat p.odd {
        background-color: #f3f3f3; }
    #main article.answer div.question {
      background-color: #f3f3f3;
      border: 5px solid #f3f3f3;
      margin: 1em 0;
      padding: 1em; }
    #main article.answer div.answer {
      border: 5px solid #f3f3f3;
      margin: 1em 0;
      padding: 1em; }
      #main article.answer div.answer p:last-child {
        margin-bottom: 0; }
    #main article.answer {
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
    #main article header time, #main article.answer div.by {
      font-weight: 700; }
    #main article footer ul {
      margin: 0; }
    #main article.audio div.player {
      margin: 1em 0; }
    #main article header p a:visited {
      color: #bc64a4; }
    #main article p, #main article blockquote p, #main article pre {
      margin-bottom: 1em;
      font: 123.1%/1.6 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
    #main article p img {
      font: 13px/1.231 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
    #main article li.notes mark {
      font-style: normal; }
    #main article .photo a {
      /* IE */
      text-decoration: none; }

#info {
  width: 352px;
  font: 77% "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background: #ffd900 url("http://static.tumblr.com/i7vkogx/meblhoggu/csg-4d748e4433eb4.png") no-repeat 0 -168px; }
  .lte6 #info {
    background: #ffd900 url("http://static.tumblr.com/i7vkogx/qHclhq1ud/_i7vkogx_4vdlhogxr_csg-4d749037e5c52.gif.png") no-repeat 0 -168px; }
  #info div {
    margin-top: 144px; }
  #info nav a {
    text-decoration: none; }
  #info nav li {
    margin: 0 0 2px 20px; }

#paging {
  text-align: center;
  margin: 20px auto; }

#links {
  width: 352px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
  #links h1 {
    margin-bottom: 5px; }
  #links li {
    list-style: none;
    font-size: 77%;
    margin: 0 0 1em; }
    #links li img {
      max-width: 160px;
      background-color: white; }
    #links li.html5logo {
      background: #ffd900 url("http://static.tumblr.com/i7vkogx/meblhoggu/csg-4d748e4433eb4.png") no-repeat 0 -96px;
      width: 165px;
      height: 64px; }
      .lte6 #links li.html5logo {
        background: #ffd900 url("http://static.tumblr.com/i7vkogx/qHclhq1ud/_i7vkogx_4vdlhogxr_csg-4d749037e5c52.gif.png") no-repeat 0 -96px; }
      #links li.html5logo a {
        display: block;
        padding-top: 64px;
        width: 165px;
        position: absolute; }
    #links li.like_post .post_info_top {
      display: block !important;
      font-size: 123.1%;
      color: #0d0015;
      margin-bottom: 10px;
      border-bottom: 1px solid #c1d8ac;
      padding: 5px 0; }
      #links li.like_post .post_info_top a {
        color: #0d0015;
        text-decoration: none;
        font-weight: 700; }
  #links footer ul {
    margin-bottom: 32px; }
  #links #following li {
    display: inline; }
  #links blockquote, #links p, #links li:last-child {
    margin: 0; }

#searchField {
  font-size: 77%;
  border: 1px solid #c1d8ac;
  width: 134px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  background: white url("http://static.tumblr.com/i7vkogx/meblhoggu/csg-4d748e4433eb4.png") no-repeat fixed 0 -72;
  width: 16px;
  height: 16px;
  padding: 4px 4px 4px 20px; }

/* add @asiamoth */
#main > h1,
#info > h1,
#links > h1,
#links .search > h2,
#links nav > h2 {
  height: 0;
  width: 0;
  overflow: hidden;
  display: block;
  z-index: -1; }
  .lte5 #main > h1, .lte5
  #info > h1, .lte5
  #links > h1, .lte5
  #links .search > h2, .lte5
  #links nav > h2 {
    display: none;
    padding-top: 0px;
    zoom: 1; }

#footer {
  background: none repeat scroll 0 0 #c9171e;
  margin-top: 0px;
  height: 40px;
  padding: 0; }

/* http://hail2u.posterous.com/40908624 */
@media screen and (max-width: 960px) {
  #banner, #container, #info, #main, #links {
    margin: 0;
    width: 100%; } }

/* ------------------------------------
  END: layout
 ----------------------------------- */
