/*
Syntax error: Invalid CSS after "...lude all-reset;": expected selector or at-rule, was "}"
        on line 16 of styles.scss

11: 
12: //// reset
13: 
14: //@import "../css/all-reset";
15: // html { @include all-reset;
16: }
17: 
18: //@import "../css/html5-rendering";
19: 
20: //@import "../css/bluetrip-screen";
21: 

Backtrace:
styles.scss:16
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/scss/parser.rb:838:in `expected'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/scss/parser.rb:813:in `expected'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/scss/parser.rb:27:in `parse'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:213:in `_to_tree'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/engine.rb:178:in `to_tree'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/files.rb:44:in `tree_for'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:223:in `update_stylesheet'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:75:in `update_stylesheets'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:73:in `each'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:73:in `update_stylesheets'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:195:in `watch'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `call'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:34:in `update'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/file.rb:19:in `refresh'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm.rb:17:in `monitor'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/sass/plugin.rb:167:in `watch'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:457:in `watch_or_update'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:360:in `process_result'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:41:in `parse'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/../lib/haml/exec.rb:21:in `parse!'
D:/usr/bin/ruby/lib/ruby/gems/1.8/gems/haml-3.0.25/bin/sass:8
D:/usr/bin/ruby/bin/sass:19:in `load'
D:/usr/bin/ruby/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...lude all-reset;\": expected selector or at-rule, was \"}\"\A         on line 16 of styles.scss\A \A 11: \A 12: //// reset\A 13: \A 14: //@import \"../css/all-reset\";\A 15: // html { @include all-reset;\A 16: }\A 17: \A 18: //@import \"../css/html5-rendering\";\A 19: \A 20: //@import \"../css/bluetrip-screen\";\A 21: "; }
