@charset "UTF-8";

/* ------------------------------------
  original: http://www.tumblr.com/theme/9731
 ----------------------------------- */

// † template.html の CSS バージョンを更新すること †

// todo:
// margin, padding の見直し（黄金比を意識する）
// 6, 10, 16, 26, 42, 68, 110, 178, 288 のスケールを元にする


// ------------------------------------
// Import mixins
// ------------------------------------

//// default scss
@import "default";

//// Japanese Traditional Color
// http://color-japanese.rubyforge.org/examples/traditional.html
@import "color-japanese";




// ------------------------------------
// Variables
// ------------------------------------

// Grid
// ----------------

$gutter: 16px;
$column: ($gutter);
$margin: ($gutter / 2);

//// 2 columns
$infoWidth:      ($column * 22);
$mainWidth:      ($column * 36);
$linksWidth:     ($column * 22);
$containerWidth: ($infoWidth + $mainWidth + ($margin * 4));
//$containerWidth: 960px;

//// float
$infoFloat:  "right";
$mainFloat:  "left";
$linksFloat: "right";

//// margin
$infoMargin:  $margin;
$mainMargin:  $margin;
$linksMargin: $margin;


//// 3 columns
//$infoWidth:      ($column * 2);
//$mainWidth:      ($column * 8);
//$linksWidth:     ($column * 3);
//$containerWidth: ($infoWidth + $mainWidth + $linksWidth + ($margin * 2));

//// float
//$infoFloat:  "left";
//$mainFloat:  "left";
//$linksFloat: "left";


// Font size
// ----------------

// およそ 1.6 倍ずつ拡大
$fontSmall:  $font10px; //    77%
$fontMiddle: $font16px; // 123.1%
$fontLarge:  $font26px; //   197%


// Image
// ----------------

// http://www.smushit.com/ysmush.it にて最適化 /
$image-png: url('http://static.tumblr.com/i7vkogx/meblhoggu/csg-4d748e4433eb4.png');
$image-gif: url('http://static.tumblr.com/i7vkogx/qHclhq1ud/_i7vkogx_4vdlhogxr_csg-4d749037e5c52.gif.png');


// ------------------------------------
// Reset styles
// ------------------------------------

//@import "html5-reset";
//@import "html5reset-1.6.1";
@import "hail2u-net_reset";
/* ------------------------------------
  END: Reset Stylesheet
 ------------------------------------ */




/* ------------------------------------
  BEGIN: add reset styles
 ----------------------------------- */

html {
  /* 常にスクロールバーを表示 */
  height: 101%;
}
html body {
  @include yui-fonts;
}

img {
  /* 行の高さを正しく算出しない - CSSバグリスト
   * http://css-bug.jp/win/ie/ver6/0252/ */
  vertical-align: bottom;
  font-size: 0;
  line-height: 0;
}

/* ------------------------------------
  END: add reset styles
 ----------------------------------- */




/* ------------------------------------
  BEGIN: elements
 ----------------------------------- */

body {
  // 暗黒色（あんこくしょく）は中二カラー
  color: $AnkokuShoku;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  margin-right: 2px;
}

a {
  &:link {
	color: $Kokihi;
  }

  &:visited {
	color: $Wakamurasaki;
  }

  &:hover {
	color: $Shironeri;
	background-color: $AnkokuShoku;
	// hover だから樺色(かばいろ) ……だと……！？
	@include cross-browser(box-shadow, ($KabaIro 1px 1px 1px, $KabaIro 1px 1px 1px, $KabaIro 1px 1px 11px, $KabaIro 1px 1px 11px));
	@include opacity(0.8);
  }

  img {
	border-style: none;
	/* http://hail2u.net/blog/webdesign/ */
	vertical-align: text-bottom;
	background-color: $Shiro;
  }
}

q {
  background-color: $Aijiro;
}

nav ul {
  padding-top: 1em;
  // border-top: 1px solid $Urahayanagi;
  margin: 1em 0;
}

code {
  font-family: $monospace;
}

i {
  font-style: italic;
}

em {
  font-style: normal;
  border-bottom: 1px dotted $Sumi;
}

strong {
  font-weight: 900;
}

p.small {
  font-size: $fontSmall;
}

mark {
  color: $TamagoIro;
}

/* ------------------------------------
  END: elements
 ----------------------------------- */




/* ------------------------------------
  BEGIN: layout
 ----------------------------------- */

/* Block
 ----------------*/

html {
  background: $KiIro;
  // background: $KiIro url("http://subtlepatterns.com/patterns/gray_sand.gif") repeat scroll 0 0;
}

body:before, body:after {
  content:"";
  display:block;
  position:fixed;
  right:0;
  left:0;
  height: 0.01px;
  z-index:20;
  text-indent:-9999px;
}

//body:before{
  //  top:0;
  //  @include cross-browser(box-shadow, (0px 0px 50px 10px rgba($AnkokuShoku, 0.5)));
  //}

body:after{
  bottom: 0px;
  @include cross-browser(box-shadow, (0px 0px 50px 20px rgba($AnkokuShoku, 0.5)));
}

body {
  background-color: rgba($KiIro, 0.8);
}

// centering
// ----------------
#banner header,
#container,
#footer footer {
  margin: 0 auto;
  width: $containerWidth;
  overflow: hidden;
}

.lte6 {
  /* IE: centering */
  text-align: center;

  #banner, #container, #footer {
	text-align: left;
  }
}

// float
// ----------------
#info {
  @include float($infoFloat);
  margin: $infoMargin;
}

#main {
  @include float($mainFloat);
  margin: $mainMargin;
}

#links {
  @include float($linksFloat);
  margin: $linksMargin;
}

#info, #main, #links {
  overflow: hidden;
}

#container, article, #links {
  @include cf;
}

/* Inner
 ----------------*/

#banner {
  background-color: $Kokihi;
  //background-color: rgba($Kokihi, 0.8);

  // http://h2ham.seesaa.net/article/169464108.html
  @include cross-browser(box-shadow, (0 2px 4px rgba($Kokihi, 0.8), 0 0 40px rgba($AnkokuShoku, 0.1) inset));
  header {
	margin-bottom: 0px;
	padding: 0;
  }

  h1, .description {
	//@include float(left);
	//width: ($containerWidth / 2);
	display: table-cell;
	vertical-align: middle;
	padding: $margin;

	// http://www.yomotsu.net/wp/?p=387
	.lte7 &{
	  display: inline;
	  zoom: 1
	}
  }

  h1 {
	font: #{$fontLarge}/1.6 $helvetica;
	width: $infoWidth;
  }
  .description {
	//font: #{$fontSmall}/1.6 $sans-serif;
	font-size: $fontSmall;
	width: $mainWidth;
  }
  a {
	text-decoration: none;
	text-shadow: rgba($AnkokuShoku, 1) 4px 2px 0;
	color: $Shiro;
	&:visited {
	  color: $Shiro;
	}
	&:hover {
	  color: $Shiro;
	}
  }
}

#main {
  width: $mainWidth;
  // add @asiamoth
  article {
	background-color: $Shiro;
	margin-bottom: 1em;
	border: 1px solid $Urahayanagi;
	@include cross-browser(box-shadow, (0px 2px 2px 0px rgba($Urahayanagi, 0.8)));

	padding: 1em;
	header {
	  p {
		display: block;
		font: $fontSmall $helvetica;
		text-transform: uppercase;
		color: $Ginnezu;
		margin: 0 0 1em;

		//a {
		  //text-decoration: none;
		  //color: $Ginnezu;
		  //&:visited {
			//text-decoration: none;
			//color: $Wakamurasaki;
			//}
		  //}
	  }
	  h1 {
		font: $fontMiddle $helvetica;
		line-height: 1;
		margin-top: 0;
	  }
	}
	blockquote {
	  border-left: 2px dotted $Ginnezu;
	  padding-left: 1em;
	  margin-left: 1em;
	}
	section.notes ol.notes {
	  //font: $fontSmall $sans-serif;
	  font-size: $fontSmall;
	  margin: 0;
	  li {
		list-style: none;
		border-top: 1px solid $NyuuhakuShoku;
		margin: 0;
		padding: .5em 0;
		img {
		  vertical-align: middle;
		  border: 2px solid $Ginnezu;
		}
	  }
	}
	footer {
	  //font: $fontSmall $sans-serif;
	  font-size: $fontSmall;
	  border-top: 1px solid $NyuuhakuShoku;
	  padding-top: 1em;
	  a {
		text-decoration: none;
		color: $Ginnezu;
		&:visited {
		  text-decoration: none;
		  color: $Wakamurasaki;
		}
	  }
	  ul li {
		list-style: none;
		display: inline;
		color: $Ginnezu;
		margin: 0 4px 0 0;
		background: #fff $image-png no-repeat top left;
		.lte6 & {
		  background: #fff $image-gif no-repeat top left;
		}
		&.reblogged, &.notes, &.tagged {
		  padding-left: 18px;
		  padding-bottom: 4px;
		  line-height: 20px;
		  //background-repeat: no-repeat;
		  width: 16px;
		  height: 16px;
		}
		&.reblogged {
		  //background-image: url('http://static.tumblr.com/pwgidgy/xKal11o10/reblog.png');
		  background-position: 0 0;
		}
		&.notes {
		  //background-image: url('http://static.tumblr.com/pwgidgy/1n1l11n7i/notes.png');
		  background-position: 0px -24px;
		}
		&.tagged {
		  // background-image: url('http://static.tumblr.com/pwgidgy/XgAl11o29/tags.png');
		  background-position: 0px -48px;
		  a {
			&:after {
			  content: ",";
			}
			&:last-child:after {
			  content: "";
			}
		  }
		}
	  }
	}
	&.link {
	  h1 {
	  }
	}
	&.quote blockquote {
	  @include bordered-speech-bubble($Aijiro, $Ginnezu);
	  margin: 0 0 16px 0;
	  padding: 1em;
	  //font: $fontMiddle $serif;

	  &:first-child, &:first-child {
		/* tombloo=>twitter quote で余計な divがつく…… */
		display: inline;
	  }

	  // 何となく削除
	  // div {
		// quotes: $ldquo $rdquo $laquo $raquo;
		//}
	  // > div {
		// &:before {
		  // content: open-quote;
		  // font-weight: bold;
		  // margin-left: -0.5em;
		  // }
		// &:after {
		  // content: close-quote;
		  // font-weight: bold;
		  // }
		// }

	  //position: relative;
	  //background: $NyuuhakuShoku;
	  //@include round(10px);

	  //border: none;
	  // + p {
		// font-style: italic;
		// margin: 10px 0 1em 60px;
		// }
	  // &:after {

		//display: block;
		//position: absolute;
		//bottom: -40px;
		//left: 25px;
		//content: "\00a0";
		//width: 0;
		//height: 0;
		//border-color: transparent $NyuuhakuShoku;
		//border-style: solid;
		//border-width: 0 20px 40px 0;
		// }
	}

	&.photo .photo {
	  text-align: center;
	  padding-bottom: 1em;

	  img {
		border: 16px $Shiro solid;
		/* position: relative; */
		background: none repeat scroll 0 0 #FFFFFF;
		@include cross-browser(box-shadow, (0 1px 4px rgba($AnkokuShoku, 0.3), 0 0 40px rgba($AnkokuShoku, 0.1) inset));

		/*
		&:before, &:after {
		  position: absolute;
		  z-index: -2;
		  width: 100%;
		  content: "";
		}

		&:before {
		  right: 10px;
		  bottom: 0;
		  left: 10px;
		  @include cross-browser(border-radius, 100px 100px 100px 100px / 10px 10px 10px 10px);
		  @include cross-browser(box-shadow, 0 0 15px rgba($AnkokuShoku, 0.6));
		}
		 */
	  }
	}

	&.chat p {
	  margin: 0;
	  padding: 1em;
	  &.odd {
		background-color: $NyuuhakuShoku;
	  }
	}
	&.answer div {
	  &.question {
		background-color: $NyuuhakuShoku;
		border: 5px solid $NyuuhakuShoku;
		margin: 1em 0;
		padding: 1em;
	  }
	  &.answer {
		border: 5px solid $NyuuhakuShoku;
		margin: 1em 0;
		padding: 1em;
		p:last-child {
		  margin-bottom: 0;
		}
	  }
	}

	&.answer {
	  font-family: $sans-serif;
	}
	header time, &.answer .by {
	  font-weight: 700;
	}
	footer ul {
	  margin: 0;
	}

	&.audio .player {
	  margin: 1em 0;
	}
	// add @asiamoth
	header p a:visited {
	  color: $Wakamurasaki;
	}
	p, blockquote p, pre {
	  margin-bottom: 1em;
	  //font: #{$fontMiddle}/1.6 $sans-serif;
	}
	p img {
	  //@include default-font;
	  //font: #{$fontMiddle}/1.6 $sans-serif;
	}
	li.notes mark {
	  font-style: normal;
	}

	.photo {
	  a {
		/* IE */
		text-decoration: none;
	  }
	}
  }
}

#info {
  width: $infoWidth;
  //font: $fontSmall $sans-serif;
  font-size: $fontSmall;
  //background: $KiIro $image-png no-repeat 0 -168px;

  div{
	background: transparent $image-png no-repeat 0 -168px;
	padding-top: 128px + 16px;
	.lte6 & {
	  background: transparent $image-gif no-repeat 0 -168px;
	}
  }

  nav {
	a {
	  text-decoration: none;
	}
	li {
	  margin: 0 0 2px 20px;
	}
  }
}

#paging {
  text-align: center;
  margin: 20px auto;
}

#links {
  width: $linksWidth;
  font-family: $sans-serif;
  h1 {
	margin-bottom: 5px;
  }
  li {
	list-style: none;
	font-size: $fontSmall;
	margin: 0 0 1em;

	img {
	  max-width: 160px;
	  background-color: $Shiro;
	}

	&.html5logo {
	  background: transparent $image-png no-repeat 0 -96px;
	  width: 165px;
	  height: 64px;
	  .lte6 & {
		background: transparent $image-gif no-repeat 0 -96px;
	  }
	  a{
		display: block;
		padding-top: 64px;
		width: 165px;
		position: absolute;
	  }
	}

	&.like_post .post_info_top {
	  display: block !important;
	  font-size: $fontMiddle;
	  color: $AnkokuShoku;
	  margin-bottom: 10px;
	  border-bottom: 1px solid $Urahayanagi;
	  padding: 5px 0;
	  a {
		color: $AnkokuShoku;
		text-decoration: none;
		font-weight: 700;
	  }
	}
  }

  footer ul {
	margin-bottom: 32px;
  }

  #following li {
	display: inline;
  }

  blockquote, p, li:last-child {
	margin: 0;
  }
  .search h1 {
	// font: $fontSmall $helvetica;
	// margin: 0;
  }

}

// 現在、この ID は使っていない
#searchField {
  font-size: $fontSmall;
  border: 1px solid $Urahayanagi;
  width: 134px;
  @include cross-browser(border-radius, 12px);
  //background: white url('http://static.tumblr.com/pwgidgy/jbel15m9e/search.png') no-repeat 2px center;
  background: #fff $image-png no-repeat fixed 0 -72;
  width: 16px;
  height: 16px;
  padding: 4px 4px 4px 20px;
}

/* add @asiamoth */

#main h1,
#info h1,
#links h1,
#links .search h2,
#links nav h2 {
  @include hide;
}

#footer {
  background: none repeat scroll 0 0 $Kokihi;
  @include cross-browser(box-shadow, (0 -1px 4px rgba($Kokihi, 0.8), 0 0 40px rgba($AnkokuShoku, 0.1) inset));
  margin-top: 0px;
  height: 40px;
  padding: 0;
  // border-top: 2px solid $AnkokuShoku;
}

/* http://hail2u.posterous.com/40908624 */
@media screen and (max-width: 960px) {
  #banner, #container, #info, #main, #links {
	margin: 0;
	width: 100%;
  }
}

/* ------------------------------------
  END: layout
 ----------------------------------- */
