@charset "UTF-8";
/* ------------------------------------
  original: http://www.tumblr.com/theme/9731
 ----------------------------------- */
/* ------------------------------------
  BEGIN: Reset Stylesheet
 ------------------------------------ */
/* This code block is released into public domain
   http://hail2u.net/styles/default.css */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address, caption, cite, code, dfn, em, strong, th, h1, h2, h3, h4, h5,
h6, input, select, textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* ------------------------------------
  END: Reset Stylesheet
 ------------------------------------ */
/* ------------------------------------
  BEGIN: add reset styles
 ----------------------------------- */
html {
  /* 常にスクロールバーを表示 */
  height: 101%; }

html body {
  /* YUI 2: Fonts CSS
   * http://developer.yahoo.com/yui/fonts/ */
  font: 13px/1.231 "MaruGoR-AA", "MeiryoKe_PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
  html body.lte7 {
    /* IE7 以下のフォント固定を解除 */
    font-size: small; }
  html body.ie8 {
    /* IE8 でもフォントが固定されるので解除
     * http://individualpackage.blog41.fc2.com/blog-entry-56.html */
    font-size: 92%; }
  html body select, html body input, html body button, html body textarea, html body button {
    font: 99%; }
  html body table {
    font-size: inherit;
    font: 100%; }
  html body pre, html body code, html body kbd, html body samp, html body tt {
    font-family: "VL ゴシック", "VL Gothic", "MeiryoKe_Console", "Courier", "Consolas", "Courier New", monospace;
    line-height: 1; }
    html body pre.lte7, html body code.lte7, html body kbd.lte7, html body samp.lte7, html body tt.lte7 {
      font-size: 108%; }

img {
  /* 行の高さを正しく算出しない - CSSバグリスト
   * http://css-bug.jp/win/ie/ver6/0252/ */
  vertical-align: bottom;
  font-size: 0;
  line-height: 0; }

/* ------------------------------------
  END: add reset styles
 ----------------------------------- */
/* ------------------------------------
  BEGIN: elements
 ----------------------------------- */
body {
  color: #16160e; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  margin-right: 2px; }

a:link {
  color: #c9171e; }
a:visited {
  color: #bc64a4; }
a:hover {
  color: #f3f3f2;
  background-color: #16160e;
  box-shadow: #cd5e3c 1px 1px 1px, #cd5e3c 1px 1px 1px, #cd5e3c 1px 1px 11px, #cd5e3c 1px 1px 11px;
  -moz-box-shadow: #cd5e3c 1px 1px 1px, #cd5e3c 1px 1px 1px, #cd5e3c 1px 1px 11px, #cd5e3c 1px 1px 11px;
  -webkit-box-shadow: #cd5e3c 1px 1px 1px, #cd5e3c 1px 1px 1px, #cd5e3c 1px 1px 11px, #cd5e3c 1px 1px 11px;
  -o-box-shadow: #cd5e3c 1px 1px 1px, #cd5e3c 1px 1px 1px, #cd5e3c 1px 1px 11px, #cd5e3c 1px 1px 11px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity = $opacity * 100)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8; }
a img {
  border-style: none;
  /* http://hail2u.net/blog/webdesign/ */
  vertical-align: text-bottom;
  background-color: white; }

q {
  background-color: #ebf6f7; }

nav ul {
  padding-top: 1em;
  margin: 1em 0; }

code {
  font-family: "VL ゴシック", "VL Gothic", "MeiryoKe_Console", "Courier", "Consolas", "Courier New", monospace; }

i {
  font-style: italic; }

em {
  font-style: normal;
  border-bottom: 1px dotted #595857; }

strong {
  font-weight: 900; }

p.small {
  font-size: 77%; }

mark {
  color: #fcd575; }

/* ------------------------------------
  END: elements
 ----------------------------------- */
/* ------------------------------------
  BEGIN: layout
 ----------------------------------- */
/* Block
 ----------------*/
html {
  background: #ffd900; }

body:before, body:after {
  content: "";
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  height: 0.01px;
  z-index: 20;
  text-indent: -9999px; }

body:after {
  bottom: 0px;
  box-shadow: 0px 0px 50px 20px rgba(22, 22, 14, 0.5);
  -moz-box-shadow: 0px 0px 50px 20px rgba(22, 22, 14, 0.5);
  -webkit-box-shadow: 0px 0px 50px 20px rgba(22, 22, 14, 0.5);
  -o-box-shadow: 0px 0px 50px 20px rgba(22, 22, 14, 0.5); }

body {
  background-color: rgba(255, 217, 0, 0.8); }

#banner header,
#container,
#footer footer {
  margin: 0 auto;
  width: 960px;
  overflow: hidden; }

.lte6 {
  /* IE: centering */
  text-align: center; }
  .lte6 #banner, .lte6 #container, .lte6 #footer {
    text-align: left; }

#info {
  float: right;
  /* IEでフロートさせたボックスのマージンが倍になるバグ - Weblog - hail2u.net
   * http://hail2u.net/blog/webdesign/doubled_margin_bug_at_ie.html */
  display: inline;
  margin: 8px; }

#main {
  float: left;
  /* IEでフロートさせたボックスのマージンが倍になるバグ - Weblog - hail2u.net
   * http://hail2u.net/blog/webdesign/doubled_margin_bug_at_ie.html */
  display: inline;
  margin: 8px; }

#links {
  float: right;
  /* IEでフロートさせたボックスのマージンが倍になるバグ - Weblog - hail2u.net
   * http://hail2u.net/blog/webdesign/doubled_margin_bug_at_ie.html */
  display: inline;
  margin: 8px; }

#info, #main, #links {
  overflow: hidden; }

#container:before, #container:after, article:before, article:after, #links:before, #links:after {
  /** A new micro clearfix hack ? Nicolas Gallagher
    * http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* For modern browsers */
  content: "";
  display: table; }
#container:after, article:after, #links:after {
  /* For modern browsers */
  clear: both; }
.lt7 #container, .lt7 article, .lt7 #links {
  /* For IE 6/7 (trigger hasLayout) */
  zoom: 1; }

/* Inner
 ----------------*/
#banner {
  background-color: #c9171e;
  box-shadow: 0 2px 4px rgba(201, 23, 30, 0.8), 0 0 40px rgba(22, 22, 14, 0.1) inset;
  -moz-box-shadow: 0 2px 4px rgba(201, 23, 30, 0.8), 0 0 40px rgba(22, 22, 14, 0.1) inset;
  -webkit-box-shadow: 0 2px 4px rgba(201, 23, 30, 0.8), 0 0 40px rgba(22, 22, 14, 0.1) inset;
  -o-box-shadow: 0 2px 4px rgba(201, 23, 30, 0.8), 0 0 40px rgba(22, 22, 14, 0.1) inset; }
  #banner header {
    margin-bottom: 0px;
    padding: 0; }
  #banner h1, #banner .description {
    display: table-cell;
    vertical-align: middle;
    padding: 8px; }
    .lte7 #banner h1, .lte7 #banner .description {
      display: inline;
      zoom: 1; }
  #banner h1 {
    font: 197%/1.6 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    width: 352px; }
  #banner .description {
    font-size: 77%;
    width: 576px; }
  #banner a {
    text-decoration: none;
    text-shadow: #16160e 4px 2px 0;
    color: white; }
    #banner a:visited {
      color: white; }
    #banner a:hover {
      color: white; }

#main {
  width: 576px; }
  #main article {
    background-color: white;
    margin-bottom: 1em;
    border: 1px solid #c1d8ac;
    box-shadow: 0px 2px 2px 0px rgba(193, 216, 172, 0.8);
    -moz-box-shadow: 0px 2px 2px 0px rgba(193, 216, 172, 0.8);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(193, 216, 172, 0.8);
    -o-box-shadow: 0px 2px 2px 0px rgba(193, 216, 172, 0.8);
    padding: 1em; }
    #main article header p {
      display: block;
      font: 77% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      text-transform: uppercase;
      color: #afafb0;
      margin: 0 0 1em; }
    #main article header h1 {
      font: 123.1% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      line-height: 1;
      margin-top: 0; }
    #main article blockquote {
      border-left: 2px dotted #afafb0;
      padding-left: 1em;
      margin-left: 1em; }
    #main article section.notes ol.notes {
      font-size: 77%;
      margin: 0; }
      #main article section.notes ol.notes li {
        list-style: none;
        border-top: 1px solid #f3f3f3;
        margin: 0;
        padding: .5em 0; }
        #main article section.notes ol.notes li img {
          vertical-align: middle;
          border: 2px solid #afafb0; }
    #main article footer {
      font-size: 77%;
      border-top: 1px solid #f3f3f3;
      padding-top: 1em; }
      #main article footer a {
        text-decoration: none;
        color: #afafb0; }
        #main article footer a:visited {
          text-decoration: none;
          color: #bc64a4; }
      #main article footer ul li {
        list-style: none;
        display: inline;
        color: #afafb0;
        margin: 0 4px 0 0;
        background: white url("http://static.tumblr.com/i7vkogx/meblhoggu/csg-4d748e4433eb4.png") no-repeat top left; }
        .lte6 #main article footer ul li {
          background: white url("http://static.tumblr.com/i7vkogx/qHclhq1ud/_i7vkogx_4vdlhogxr_csg-4d749037e5c52.gif.png") no-repeat top left; }
        #main article footer ul li.reblogged, #main article footer ul li.notes, #main article footer ul li.tagged {
          padding-left: 18px;
          padding-bottom: 4px;
          line-height: 20px;
          width: 16px;
          height: 16px; }
        #main article footer ul li.reblogged {
          background-position: 0 0; }
        #main article footer ul li.notes {
          background-position: 0px -24px; }
        #main article footer ul li.tagged {
          background-position: 0px -48px; }
          #main article footer ul li.tagged a:after {
            content: ","; }
          #main article footer ul li.tagged a:last-child:after {
            content: ""; }
    #main article.quote blockquote {
      border: 4px solid #afafb0;
      position: relative;
      background-color: #ebf6f7;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      margin: 0 0 16px 0;
      padding: 1em; }
      #main article.quote blockquote:before {
        border-top-width: 16px;
        border-right-width: 16px;
        border-bottom-width: 0;
        border-left-width: 16px;
        border-color: #afafb0 transparent;
        border-style: solid;
        display: block;
        position: absolute;
        bottom: -16px;
        left: 16px;
        width: 0;
        height: 0;
        content: ""; }
      #main article.quote blockquote:after {
        border-top-width: 16px;
        border-right-width: 16px;
        border-bottom-width: 0;
        border-left-width: 16px;
        border-color: #ebf6f7 transparent;
        border-style: solid;
        display: block;
        position: absolute;
        bottom: -10px;
        left: 16px;
        width: 0;
        height: 0;
        content: ""; }
      #main article.quote blockquote:first-child, #main article.quote blockquote:first-child {
        /* tombloo=>twitter quote で余計な divがつく…… */
        display: inline; }
    #main article.photo .photo {
      text-align: center;
      padding-bottom: 1em; }
      #main article.photo .photo img {
        border: 16px white solid;
        /* position: relative; */
        background: none repeat scroll 0 0 #FFFFFF;
        box-shadow: 0 1px 4px rgba(22, 22, 14, 0.3), 0 0 40px rgba(22, 22, 14, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(22, 22, 14, 0.3), 0 0 40px rgba(22, 22, 14, 0.1) inset;
        -webkit-box-shadow: 0 1px 4px rgba(22, 22, 14, 0.3), 0 0 40px rgba(22, 22, 14, 0.1) inset;
        -o-box-shadow: 0 1px 4px rgba(22, 22, 14, 0.3), 0 0 40px rgba(22, 22, 14, 0.1) inset;
        		/*
        		&:before, &:after {
        		  position: absolute;
        		  z-index: -2;
        		  width: 100%;
        		  content: "";
        		}
        
        		&:before {
        		  right: 10px;
        		  bottom: 0;
        		  left: 10px;
        		  @include cross-browser(border-radius, 100px 100px 100px 100px / 10px 10px 10px 10px);
        		  @include cross-browser(box-shadow, 0 0 15px rgba($AnkokuShoku, 0.6));
        		}
        		 */ }
    #main article.chat p {
      margin: 0;
      padding: 1em; }
      #main article.chat p.odd {
        background-color: #f3f3f3; }
    #main article.answer div.question {
      background-color: #f3f3f3;
      border: 5px solid #f3f3f3;
      margin: 1em 0;
      padding: 1em; }
    #main article.answer div.answer {
      border: 5px solid #f3f3f3;
      margin: 1em 0;
      padding: 1em; }
      #main article.answer div.answer p:last-child {
        margin-bottom: 0; }
    #main article.answer {
      font-family: "MaruGoR-AA", "MeiryoKe_PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
    #main article header time, #main article.answer .by {
      font-weight: 700; }
    #main article footer ul {
      margin: 0; }
    #main article.audio .player {
      margin: 1em 0; }
    #main article header p a:visited {
      color: #bc64a4; }
    #main article p, #main article blockquote p, #main article pre {
      margin-bottom: 1em; }
    #main article li.notes mark {
      font-style: normal; }
    #main article .photo a {
      /* IE */
      text-decoration: none; }

#info {
  width: 352px;
  font-size: 77%; }
  #info div {
    background: transparent url("http://static.tumblr.com/i7vkogx/meblhoggu/csg-4d748e4433eb4.png") no-repeat 0 -168px;
    padding-top: 144px; }
    .lte6 #info div {
      background: transparent url("http://static.tumblr.com/i7vkogx/qHclhq1ud/_i7vkogx_4vdlhogxr_csg-4d749037e5c52.gif.png") no-repeat 0 -168px; }
  #info nav a {
    text-decoration: none; }
  #info nav li {
    margin: 0 0 2px 20px; }

#paging {
  text-align: center;
  margin: 20px auto; }

#links {
  width: 352px;
  font-family: "MaruGoR-AA", "MeiryoKe_PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
  #links h1 {
    margin-bottom: 5px; }
  #links li {
    list-style: none;
    font-size: 77%;
    margin: 0 0 1em; }
    #links li img {
      max-width: 160px;
      background-color: white; }
    #links li.html5logo {
      background: transparent url("http://static.tumblr.com/i7vkogx/meblhoggu/csg-4d748e4433eb4.png") no-repeat 0 -96px;
      width: 165px;
      height: 64px; }
      .lte6 #links li.html5logo {
        background: transparent url("http://static.tumblr.com/i7vkogx/qHclhq1ud/_i7vkogx_4vdlhogxr_csg-4d749037e5c52.gif.png") no-repeat 0 -96px; }
      #links li.html5logo a {
        display: block;
        padding-top: 64px;
        width: 165px;
        position: absolute; }
    #links li.like_post .post_info_top {
      display: block !important;
      font-size: 123.1%;
      color: #16160e;
      margin-bottom: 10px;
      border-bottom: 1px solid #c1d8ac;
      padding: 5px 0; }
      #links li.like_post .post_info_top a {
        color: #16160e;
        text-decoration: none;
        font-weight: 700; }
  #links footer ul {
    margin-bottom: 32px; }
  #links #following li {
    display: inline; }
  #links blockquote, #links p, #links li:last-child {
    margin: 0; }

#searchField {
  font-size: 77%;
  border: 1px solid #c1d8ac;
  width: 134px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  background: white url("http://static.tumblr.com/i7vkogx/meblhoggu/csg-4d748e4433eb4.png") no-repeat fixed 0 -72;
  width: 16px;
  height: 16px;
  padding: 4px 4px 4px 20px; }

/* add @asiamoth */
#main > h1,
#info > h1,
#links > h1,
#links .search > h2,
#links nav > h2 {
  height: 0;
  width: 0;
  overflow: hidden;
  display: block;
  z-index: -1;
  font-size: 0; }
  .lte5 #main > h1, .lte5
  #info > h1, .lte5
  #links > h1, .lte5
  #links .search > h2, .lte5
  #links nav > h2 {
    display: none;
    padding-top: 0px;
    zoom: 1; }

#footer {
  background: none repeat scroll 0 0 #c9171e;
  box-shadow: 0 -1px 4px rgba(201, 23, 30, 0.8), 0 0 40px rgba(22, 22, 14, 0.1) inset;
  -moz-box-shadow: 0 -1px 4px rgba(201, 23, 30, 0.8), 0 0 40px rgba(22, 22, 14, 0.1) inset;
  -webkit-box-shadow: 0 -1px 4px rgba(201, 23, 30, 0.8), 0 0 40px rgba(22, 22, 14, 0.1) inset;
  -o-box-shadow: 0 -1px 4px rgba(201, 23, 30, 0.8), 0 0 40px rgba(22, 22, 14, 0.1) inset;
  margin-top: 0px;
  height: 40px;
  padding: 0; }

/* http://hail2u.posterous.com/40908624 */
@media screen and (max-width: 960px) {
  #banner, #container, #info, #main, #links {
    margin: 0;
    width: 100%; } }

/* ------------------------------------
  END: layout
 ----------------------------------- */
