@charset "UTF-8";

/* ------------------------------------
    original: http://www.tumblr.com/theme/9731
 ----------------------------------- */

// † template.html の CSS バージョンを更新すること †

// todo:
// body に text-shadow？

//// default scss
@import "default";

//// Japanese Traditional Color
// http://color-japanese.rubyforge.org/examples/traditional.html
@import "color-japanese";

//// reset styles
@import "html5-reset";
//@import "html5reset-1.6.1";

/* ------------------------------------
  END: Reset Stylesheet
 ------------------------------------ */

/* ------------------------------------
  BEGIN: add reset styles
  (original: http://yui.yahooapis.com/2.8.2r1/build/fonts/fonts.css )
 ----------------------------------- */

html body {
  @include default-font;

  &.lte7 {
	font-size: small;
  }
  select, input, button, textarea, button {
	font: 99%;
  }
  table {
	font-size:inherit;
	font: 100%;
  }
  pre,code,kbd,samp,tt {
	font-family:monospace;
	line-height:1;
	&.lte7 {
	  font-size:108%;
	}
  }
}

/* ------------------------------------
  END: add reset styles
 ----------------------------------- */

/* ------------------------------------
  BEGIN: elements
 ----------------------------------- */

body {
  background: $KiIro repeat-x fixed;
  color: $Shikkoku;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  margin-right: 2px;
}

a {
  &:link {
	color: $Kokihi;
  }

  &:visited {
	color: $Wakamurasaki;
  }

  &:hover {
	color: $Shironeri;
	background-color: $Shikkoku;
  }

  img {
	vertical-align: bottom;
	background-color: $Shiro;
	border-style:none;
  }
}

q {
  background-color: $Aijiro;
}

nav ul {
  padding-top: 1em;
  border-top: 1px solid $Urahayanagi;
  margin: 1em 0;
}

code {
  font-family: $monospace;
}

i {
  font-style: italic;
}

em {
  font-style: normal;
  border-bottom: 1px dotted $Sumi;
}

strong {
  font-weight: 900;
}

p.small {
  font-size: $font10px;
}

mark {
  color: $TamagoIro;
}

/* ------------------------------------
  END: elements
 ----------------------------------- */

/* ------------------------------------
  BEGIN: layout
 ----------------------------------- */

// http://www.smushit.com/ysmush.it にて最適化 /
$image-png: url('http://static.tumblr.com/i7vkogx/meblhoggu/csg-4d748e4433eb4.png');
$image-gif: url('http://static.tumblr.com/i7vkogx/qHclhq1ud/_i7vkogx_4vdlhogxr_csg-4d749037e5c52.gif.png');

// .clearfix,
#container,
article,
section#links {
  @include clearfix;
}


.lte6 {
  /* IE: centering */
  text-align: center;

  #banner, #container, #footer {
	text-align: left;
  }
}

#banner {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

#container {
  width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

#info, #main, #links {
  @include float(left);
  overflow: hidden;
  margin: 0 10px;
}

#banner {
  //border-bottom: 2px solid $Shikkoku;
  background-color: $Kokihi;
  @include box-shadow(0px 0px 4px 0px rgba($Kokihi, 0.8) );

  header {
	margin-bottom: 0px;
	width: 960px;
	//margin: 0 auto;
	padding: 0;
  }

  h1, .description {
	@include float(left);
	margin: 0 10px;
	width: 460px;
  }

  h1 {
	font: #{$font26px}/1.5 $helvetica;
  }
  .description {
	font: #{$font13px}/1 $sans-serif;
  }
  a {
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 1) 4px 2px 0;
	color: $Shiro;
	&:visited {
	  color: $Shiro;
	}
	&:hover {
	  color: $Shiro;
	}
  }
}

#main {
  width: 535px;
  // add @asiamoth
  article {
	background-color: $Shiro;
	margin-bottom: 1em;
	border: 1px solid $Urahayanagi;
	@include box-shadow(0px 1px 2px 0px rgba($Urahayanagi, 0.8) );

	padding: 1em;
	header {
	  p {
		display: block;
		font: $font10px $helvetica;
		text-transform: uppercase;
		color: $Ginnezu;
		margin: 0 0 1em;

		//a {
		  //text-decoration: none;
		  //color: $Ginnezu;
		  //&:visited {
			//text-decoration: none;
			//color: $Wakamurasaki;
			//}
		  //}
	  }
	  h1 {
		font: $font16px $helvetica;
		line-height: 1;
		margin-top: 0;
	  }
	}
	blockquote {
	  border-left: 2px dotted $Ginnezu;
	  padding-left: 1em;
	  margin-left: 1em;
	}
	section.notes ol.notes {
	  font: $font10px $sans-serif;
	  margin: 0;
	  li {
		list-style: none;
		border-top: 1px solid $NyuuhakuShoku;
		margin: 0;
		padding: .5em 0;
		img {
		  vertical-align: middle;
		  border: 2px solid $Ginnezu;
		}
	  }
	}
	footer {
	  font: $font10px $sans-serif;
	  border-top: 1px solid $NyuuhakuShoku;
	  padding-top: 1em;
	  a {
		text-decoration: none;
		color: $Ginnezu;
		&:visited {
		  text-decoration: none;
		  color: $Wakamurasaki;
		}
	  }
	  ul li {
		list-style: none;
		display: inline;
		color: $Ginnezu;
		margin: 0 4px 0 0;
		background: #fff $image-png no-repeat top left;
		.lte6 & {
		  background: #fff $image-gif no-repeat top left;
		}
		&.reblogged, &.notes, &.tagged {
		  padding-left: 18px;
		  padding-bottom: 4px;
		  line-height: 20px;
		  //background-repeat: no-repeat;
		  width: 16px;
		  height: 16px;
		}
		&.reblogged {
		  //background-image: url('http://static.tumblr.com/pwgidgy/xKal11o10/reblog.png');
		  background-position: 0 0;
		}
		&.notes {
		  //background-image: url('http://static.tumblr.com/pwgidgy/1n1l11n7i/notes.png');
		  background-position: 0px -24px;
		}
		&.tagged {
		  // background-image: url('http://static.tumblr.com/pwgidgy/XgAl11o29/tags.png');
		  background-position: 0px -48px;
		  a {
			&:after {
			  content: ",";
			}
			&:last-child:after {
			  content: "";
			}
		  }
		}
	  }
	}
	&.link {
	  h1 {
	  }
	}
	&.quote blockquote {
	  @include bordered-speech-bubble($Aijiro, $Ginnezu);
	  margin: 0 0 16px 0;
	  padding: 1em;
	  font: $font16px $serif;

	  &:first-child, &:first-child {
		/* tombloo=>twitter quote で余計な divがつく…… */
		display: inline;
	  }

	  // 何となく削除
	  // div {
		// quotes: $ldquo $rdquo $laquo $raquo;
		//}
	  // > div {
		// &:before {
		  // content: open-quote;
		  // font-weight: bold;
		  // margin-left: -0.5em;
		  // }
		// &:after {
		  // content: close-quote;
		  // font-weight: bold;
		  // }
		// }

	  //position: relative;
	  //background: $NyuuhakuShoku;
	  //@include round(10px);

	  //border: none;
	  // + p {
		// font-style: italic;
		// margin: 10px 0 1em 60px;
		// }
	  // &:after {

		//display: block;
		//position: absolute;
		//bottom: -40px;
		//left: 25px;
		//content: "\00a0";
		//width: 0;
		//height: 0;
		//border-color: transparent $NyuuhakuShoku;
		//border-style: solid;
		//border-width: 0 20px 40px 0;
		// }

	}
	&.photo div.photo {
	  text-align: center;
	  padding-bottom: 1em;
	}
	&.chat p {
	  margin: 0;
	  padding: 1em;
	  &.odd {
		background-color: $NyuuhakuShoku;
	  }
	}
	&.answer div {
	  &.question {
		background-color: $NyuuhakuShoku;
		border: 5px solid $NyuuhakuShoku;
		margin: 1em 0;
		padding: 1em;
	  }
	  &.answer {
		border: 5px solid $NyuuhakuShoku;
		margin: 1em 0;
		padding: 1em;
		p:last-child {
		  margin-bottom: 0;
		}
	  }
	}

	&.answer {
	  font-family: $sans-serif;
	}
	header time, &.answer div.by {
	  font-weight: 700;
	}
	footer ul {
	  margin: 0;
	}

	&.audio div.player {
	  margin: 1em 0;
	}
	// add @asiamoth
	header p a:visited {
	  color: $Wakamurasaki;
	}
	p, blockquote p, pre {
	  margin-bottom: 1em;
	  font: #{$font16px}/1.6 $sans-serif;
	}
	p img {
	  @include default-font;
	}
	li.notes mark {
	  font-style: normal;
	}

	.photo {
	  a {
		/* IE */
		text-decoration: none;
	  }
	}
  }
}

#info {
  width: 160px;
  font: $font10px $sans-serif;
  background: $KiIro $image-png no-repeat 0 -168px;
  margin-top: 4px;
  .lte6 & {
	background: $KiIro $image-gif no-repeat 0 -168px;
  }
  div{
	margin-top: 128px + 16px;
  }

  nav {
	a {
	  text-decoration: none;
	}
	li {
	  margin: 0 0 2px 20px;
	}
  }
}

#paging {
  text-align: center;
  margin: 20px auto;
}

#links {
  width: 160px;
  font-family: $sans-serif;
  h1 {
	margin-bottom: 5px;
  }
  li {
	list-style: none;
	font-size: $font10px;
	margin: 0 0 1em;

	img {
	  max-width: 160px;
	  background-color: $Shiro;
	}

	&.html5logo {
	  background: $KiIro $image-png no-repeat 0 -96px;
	  width: 165px;
	  height: 64px;
	  .lte6 & {
		background: $KiIro $image-gif no-repeat 0 -96px;
	  }
	  a{
		display: block;
		padding-top: 64px;
		width: 165px;
		position: absolute;
	  }
	}

	&.like_post .post_info_top {
	  display: block !important;
	  font-size: $font13px;
	  color: $Shikkoku;
	  margin-bottom: 10px;
	  border-bottom: 1px solid $Urahayanagi;
	  padding: 5px 0;
	  a {
		color: $Shikkoku;
		text-decoration: none;
		font-weight: 700;
	  }
	}
  }
  #following li {
	display: inline;
  }

  blockquote, p, li:last-child {
	margin: 0;
  }
  .search h1 {
	// font: $font10px $helvetica;
	// margin: 0;
  }

}

// 現在、この ID は使っていない
#searchField {
  font-size: $font10px;
  border: 1px solid $Urahayanagi;
  width: 134px;
  @include round(12px);
  //background: white url('http://static.tumblr.com/pwgidgy/jbel15m9e/search.png') no-repeat 2px center;
  background: #fff $image-png no-repeat fixed 0 -72;
  width: 16px;
  height: 16px;
  padding: 4px 4px 4px 20px;
}

/* add @asiamoth */

#main > h1,
#info > h1,
#links > h1,
#links .search > h2,
#links nav > h2 {
  @include hide;
}

#footer {
  background: none repeat scroll 0 0 $Kokihi;
  @include box-shadow(2px 0px 0px 0px rgba($Kokihi, 0.8) );
  margin-top: 0px;
  width: 100%;
  height: 40px;
  padding: 0;
  // border-top: 2px solid $Shikkoku;
}

/* http://hail2u.posterous.com/40908624 */
@media screen and (max-width: 960px) {
  #banner, #container, #info, #main, #links {
	margin: 0;
	width: 100%;
  }
}

/* ------------------------------------
  END: layout
 ----------------------------------- */
